﻿@model BLL.ViewModels.OfficeLocationAndDetailsBusinessModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    var errors = ViewData["Errors"] as string;
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>




<div class="chance"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 si-box-padding">
            <!-------------- common-head-wrapper-sm -------------->
            <section class="common-head-wrapper-sm clearfix">
                <div class="wrapper-head">
                    <h4><i class="glyphicon glyphicon-user"></i><span>OFFICE LOCATION</span></h4>
                </div>
                <!-- end of wrapper-head -->
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="/Dashboard">Dashboard</a></li>
                        <li><a href="/OfficeLocationAndDetails">Office Location</a></li>
                        <li><a href="/OfficeLocationAndDetails/Create">Add Office Location</a></li>
                    </ul>
                </div>
                <!-- end of bread-crumbs -->
            </section>
            <!-- end of common-head-wrapper-sm -->
            <!-------------- progress-step -------------->
            <div class="progress-step clearfix">
                <div class="progress_inner">
                    <!-- end of step-tab -->
                    <input checked='checked' id="step-1" name="step" type="radio">
                    <input id="step-2" name="step" type="radio">
                    <input id="step-3" name="step" type="radio">
                    <input id="step-4" name="step" type="radio">
                    <input id="step-5" name="step" type="radio">
                    <div class="progress_inner__bar"></div>
                    <div class="progress_inner__bar--set"></div>
                    <!-------------- progress_inner__tabs -------------->
                    <div class='progress_inner__tabs'>
                        <div class='tab tab-0 white-smooth-wrapper'>
                            @if (!string.IsNullOrEmpty(errors))
                            {
                                <span style="
                                color: red;
                                font-size: 12px;
                                padding: 10px;
                                margin: 10px;
                                margin-bottom: 20px;
                                text-align:right;"> @errors</span>
                            }
                            <!-------------- Merchant -------------->
                            <div class="wrapper-head semi-head-border">
                                <h4>ADD DETAIL HERE</h4>
                            </div>
                            <div class="organization-form">

                                <form name="userform" asp-action="Create" enctype="multipart/form-data">

                                    <div class="row">
                                        <!-- col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="OfficeName" class="control-label"></label>
                                                <input asp-for="OfficeName" class="form-control" />
                                                <span asp-validation-for="OfficeName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <!-- col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="PlaceName" class="control-label"></label>
                                                <input asp-for="PlaceName" class="form-control" />
                                                <span asp-validation-for="PlaceName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="SectorName" class="control-label"></label>
                                                <input asp-for="SectorName" class="form-control" />
                                                <span asp-validation-for="SectorName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="BlockName" class="control-label"></label>
                                                <input asp-for="BlockName" class="form-control" />
                                                <span asp-validation-for="BlockName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="RegionName" class="control-label"></label>
                                                <input asp-for="RegionName" class="form-control" />
                                                <span asp-validation-for="RegionName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="Latitude" class="control-label"></label>
                                                <input asp-for="Latitude" class="form-control" readonly/>
                                                <span asp-validation-for="Latitude" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <!-- col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="Longitude" class="control-label"></label>
                                                <input asp-for="Longitude" class="form-control"  readonly/>
                                                <span asp-validation-for="Longitude" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="IsActive" class="control-label"></label>
                                                <input asp-for="IsActive" class="form-control" />
                                            </div>
                                        </div>
                                        <!-- col-md-4 -->
                                        <div class="col-md-6">
                                            <div class="input-wrapper-sm">
                                                <label>Address</label>
                                                <textarea asp-for="ShortAddress" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-6">
                                            <div class="input-wrapper-sm">
                                                <label>Map Address</label>
                                                <textarea asp-for="FormatedAddress" rows="3" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="mapArea">
                                        <div class="alert alert-success" hidden="hidden">

                                        </div>
                                        <input id="pac-input"
                                               class="controls"
                                               type="text"
                                               placeholder="Search Box" />
                                        <div id="dvMap" style="width: 100%; height: 500px">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-footer clearfix">
                                            <button  type="submit" class="btn sm-custom-btn sm-save-btn pull-right">Save</button>
                                            <a href="#" class="btn sm-custom-btn pull-right">Clear</a>
                                        </div>
                                    </div>
                                </form>

                                <!-- end of row -->
                            </div>
                            <!-- end of organization-form -->
                            <!-------------- Address line -------------->
                            <!-- end of organization-form -->
                           
                            <!-- end of form-footer -->
                        </div>
                        <!-- end of white-smooth-wrapper -->
                        <!----------------configuration---------------->

                    </div>
                    <!-- end of progress_inner__tabs -->
                </div>
                <!-- end of progress_inner -->
            </div>
            <!-- end of progress-step -->
        </div>
        <!-- end of col-md-12 -->
    </div>
    <!-- end of row -->
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADPwys5xIOIM0h_LB3wPI8p3A5er5tSqs&libraries=places&v=weekly"></script>
<script>
    //debugger;

    var position = [33.6636623071753, 73.04966644747465];
    let markerss = [];
    var selectedLatLong = [];
    var placeName = '';
    var formaterAddress = '';
    var myMap = null;
    var myinfoWindow = null;
    function initialize() {
        var latlng = new google.maps.LatLng(position[0], position[1]);
        var myOptions = {
            zoom: 16,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("dvMap"), myOptions);
        myMap = map;
        marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "Latitude:" + position[0] + " | Longitude:" + position[1]
        });

        var infoWindow = new google.maps.InfoWindow();
        myinfoWindow = infoWindow;
        infoWindow.setContent("My Office");
        ///places search box
        const input = document.getElementById("pac-input");
        const searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener("bounds_changed", () => {
            searchBox.setBounds(map.getBounds());
        });

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.

        searchBox.addListener("places_changed", () => {
            const places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }
            //debugger;
            // Clear out the old markers.
            markerss.forEach((marker) => {
                marker.setMap(null);
            });
            markerss = [];
            // For each place, get the icon, name and location.
            const bounds = new google.maps.LatLngBounds();
            // debugger;
            places.forEach((place) => {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                const icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25),
                };
                // Create a marker for each place.
                // debugger;
                markerss.push(
                    new google.maps.Marker({
                        map,
                        icon,
                        title: place.name,
                        position: place.geometry.location,
                    })
                );
                //  debugger;

                myinfoWindow.setContent(place.name);
                myinfoWindow.close();
                //infoWindow.setContent(place.name);
                //infoWindow.close();
                var rr = [place.geometry.location.lat(), place.geometry.location.lng()];
                placeName = place.name;
                formaterAddress = place.formatted_address;
                $('#FormatedAddress').val(formaterAddress);
                $('#PlaceName').val(placeName);
                $('#Longitude').val(rr[1]);
                $('#Latitude').val(rr[0]);

                // debugger;
                selectedLatLong = rr;
                transition(rr, map);
                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });





        ///search box area end


        google.maps.event.addListener(map, 'click', function (event) {
            var result = [event.latLng.lat(), event.latLng.lng()];

            transition(result, map);
        });
    }

    //Load google map
    google.maps.event.addDomListener(window, 'load', initialize);


    var numDeltas = 99;
    var delay = 10; //milliseconds
    var i = 0;
    var deltaLat;
    var deltaLng;

    function transition(result, map) {
        i = 0;
        deltaLat = (result[0] - position[0]) / numDeltas;
        deltaLng = (result[1] - position[1]) / numDeltas;
        moveMarker(map);
    }

    function moveMarker(map) {
        //debugger;
        if (i < 99) {
            position[0] += deltaLat;
            position[1] += deltaLng;
            selectedLatLong = [position[0], position[1]];
            var latlng = new google.maps.LatLng(position[0], position[1]);
            marker.setTitle("Address: " + placeName);
            marker.setPosition(latlng);
            if (i != numDeltas) {
                i++;
                setTimeout(moveMarker, delay);
            }
        } else {
            // debugger;

            const geocoder = new google.maps.Geocoder();
            //const infowindow = new google.maps.InfoWindow();
            //infowindow.close();
            geocodeLatLng(geocoder, myMap, myinfoWindow, selectedLatLong);
        }
    }

    function geocodeLatLng(geocoder, map, infowindow, selectedLatLong) {
        //const input = document.getElementById("latlng").value;
        //const latlngStr = input.split(",", 2);
        const latlng = {
            lat: parseFloat(selectedLatLong[0]),
            lng: parseFloat(selectedLatLong[1]),
        };
        geocoder.geocode({ location: latlng }, (results, status) => {
            if (status === "OK") {
                if (results[0]) {
                    map.setZoom(16);
                    //const marker = new google.maps.Marker({
                    //    position: latlng,
                    //    map: map,
                    //});
                    //  debugger;
                    infowindow.setContent(results[0].formatted_address);
                    marker.setTitle(results[0].formatted_address);
                    infowindow.close();
                    infowindow.open(map, marker);
                    $('#FormatedAddress').val(results[0].formatted_address);
                    $('#PlaceName').val(results[0].formatted_address);
                    $('#Longitude').val(latlng.lng);
                    $('#Latitude').val(latlng.lat);
                    $('#pac-input').val(results[0].formatted_address);

                } else {
                    window.alert("No results found");
                }
            } else {
                window.alert("Geocoder failed due to: " + status);
            }
        });
    }


    function changepassword(event) {
        //debugger;

        var ss = $(".alert-success");
        var lat = position[0]; //$("#UserName").val();
        var lng = position[0];//$("#NewPassword").val();
        var userId = $("#Id").val();
        //if (newpassword != confirmpassword) {
        //    ss.show();
        //    ss.text("Check your passwords again. ");
        //    return;
        //}

        //var isvalid = localStorage.getItem("isFormValid");
        //if (isvalid != "valid") {
        //    ss.show();
        //    ss.text("Check your passwords again. ");
        //    return;
        //}
        //else {
        //    ss.hide();
        //}
        $.ajax({

            url: "/users/ChangeLocation",
            type: "POST",
            // datatype: "json",
            /// traditional: true,
            //contentType: "application/json; charset=utf-8",
            data: { 'userId': userId, 'lat': lat, 'lng': lng },
            //dataType: "json",
            //async: false, //_async,
            success: function (result) {
                ss.show();
                ss.text("Location Updated Successfully sccessfully ");
                setTimeout(function () {
                    location.reload();
                }, 1000);

            }
        });
    }

</script>

<script src="~/assets/js/jquery.min.js">

</script>
<script>
    $("#btnCreateUser").click(function () {
        $("#userform").submit();
    });
</script>