﻿@model BOL.Models.OfficeLocationAndDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OfficeLocationAndDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormatedAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormatedAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OfficeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
