﻿@model IEnumerable<BLL.ViewModels.OfficeLocationAndDetailsBusinessModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.ShortAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormatedAddress)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.SectorName)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.ShortAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormatedAddress)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.SectorName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfficeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfficeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfficeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
