﻿@model IEnumerable<BOL.Models.CustomersInArea>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Customer Name
            </th>
            <th>
               Area Assigned
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var index = 0;}
        @foreach (var item in Model)
        {
            ++index;
            <tr>
                <td>@index</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Areas.AreaName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomersInAreaID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomersInAreaID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomersInAreaID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
