﻿@model IEnumerable<BOL.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<table border="1" class="table" cellpadding="2">
    @{ var index = 0;}
    <tr>
        <td>#</td>
        <td>ID</td>
        <td>Full Name</td>
        <td>Actions</td>
    </tr>
    @foreach (var item in Model)
    {
        ++index;
        <tr>
            <td>@index</td>
            <td>@item.Id</td>
            <td>@item.FullName</td>
            <td>
                <button onclick="fetchData(@item.Id); return false;" value="aja" class=ui-button>Track Now</button>
                <button onclick="fetchAllData(@item.Id); return false;" value="aja" class=ui-button>Download Report</button>
            </td>
        </tr>
    }

</table>

<label id="customerName" class="col-form-label-sm" style="margin:10px"></label>
<label id="infolabel" class="col-form-label-sm" style="margin:10px"></label>
<div class="row">

    <div id="dvMap" style="width: 100%; height: 500px">
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADPwys5xIOIM0h_LB3wPI8p3A5er5tSqs"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script>
    $(document).ready(function () {
        console.log("ready!");
        configureFirebase();
        // await fetchData();
    });

    function configureFirebase() {

        var firebaseConfig = {
            apiKey: "AIzaSyADPwys5xIOIM0h_LB3wPI8p3A5er5tSqs",
            authDomain: "deosai-303621.firebaseapp.com",
            databaseURL: "https://deosai-303621-default-rtdb.firebaseio.com",
            projectId: "deosai-303621",
            storageBucket: "deosai-303621.appspot.com",
            messagingSenderId: "346596605597",
            appId: "1:346596605597:web:5be89bd489304896e11e74",
            measurementId: "G-M4TJF53L9S"
        };
        // Initialize Firebase
        !firebase.apps.length ? firebase.initializeApp(firebaseConfig) : firebase.app();;
        console.log('app initializ4d');
    }

    //.timeStamp.toDate().toLocaleString()

    function fetchAllData(userid) {
        debugger;
        const format2 = 'DD-MM-YYYY';
        var date = new Date();
        //var currentdatetime = moment(date).format(format1);
        var collectionId = moment(date).format(format2);
        $('#infolabel').text("fetching data");
        $('.loader_bg').show();
        firebase.firestore()
            .collection('DriversLocation')
            .doc(`userid_${userid}`)
            .collection('21-05-2021')
            ////.doc(currentOrderId)
            .where('driverID', '==', userid)
            .onSnapshot((querySnapshot) => {
                debugger;
                var fetchedMovies = [];
                querySnapshot.forEach((doc) => {
                    const fetchedMovie = {
                        id: doc.id,
                        ...doc.data(),
                    };
                    fetchedMovies.push(fetchedMovie);
                });
                if (fetchedMovies.length > 0) {
                    debugger;
                    ajaxBaseCall2("POST", '/DriverTracking/GetPending', { 'model': fetchedMovies });
                }   //configureMap(fetchedMovies);
                else {
                    $('.loader_bg').hide();
                    $('#infolabel').text("Driver Has No current Pending Order To track");
                }
                //console.log("Current cities in CA: ", cities.join(", "));
            }, (error) => {
                // ...
                $('#infolabel').text("erro");
                $('.loader_bg').hide();
            });
        // .get()
        //where("users", "array-contains", id)//"1a392I0XGAWkS6TjOBvLArg9psB2")
        //.then(response => {
        //    $('#infolabel').text("response get")
        //    const fetchedMovies = [];
        //    if (!response.empty) {
        //        response.docs.forEach(document => {
        //            const fetchedMovie = {
        //                id: document.id,
        //                ...document.data(),
        //            };
        //            fetchedMovies.push(fetchedMovie);
        //        });
        //    }
        //    configureMap(fetchedMovies);

        //})
        //.catch(error => {
        //    $('#infolabel').text("erro");
        //    $('.loader_bg').hide();
        //    //setError(error);
        //    //me.setState({ isloading: false, checkingForFiredbRecord: false });
        //});
    }


    function fetchData(userid) {
        debugger;
        const format2 = 'DD-MM-YYYY';
        var date = new Date();
        //var currentdatetime = moment(date).format(format1);
        var collectionId = moment(date).format(format2);
        $('#infolabel').text("fetching data");
        $('.loader_bg').show();
        firebase.firestore()
            .collection('DriversLocation')
            .doc(`userid_${userid}`)
            .collection(collectionId)
            ////.doc(currentOrderId)
            .where('orderStatus', '==', 'pending')
            .onSnapshot((querySnapshot) => {
                debugger;
                var fetchedMovies = [];
                querySnapshot.forEach((doc) => {
                    const fetchedMovie = {
                        id: doc.id,
                        ...doc.data(),
                    };
                    fetchedMovies.push(fetchedMovie);
                });
                if (fetchedMovies.length > 0)
                    configureMap(fetchedMovies);
                else {
                    $('.loader_bg').hide();
                    $('#infolabel').text("Driver Has No current Pending Order To track");
                }
                //console.log("Current cities in CA: ", cities.join(", "));
            }, (error) => {
                // ...
                $('#infolabel').text("erro");
                $('.loader_bg').hide();
            });
        // .get()
        //where("users", "array-contains", id)//"1a392I0XGAWkS6TjOBvLArg9psB2")
        //.then(response => {
        //    $('#infolabel').text("response get")
        //    const fetchedMovies = [];
        //    if (!response.empty) {
        //        response.docs.forEach(document => {
        //            const fetchedMovie = {
        //                id: document.id,
        //                ...document.data(),
        //            };
        //            fetchedMovies.push(fetchedMovie);
        //        });
        //    }
        //    configureMap(fetchedMovies);

        //})
        //.catch(error => {
        //    $('#infolabel').text("erro");
        //    $('.loader_bg').hide();
        //    //setError(error);
        //    //me.setState({ isloading: false, checkingForFiredbRecord: false });
        //});
    }

    function configureMap(fetchedMovies) {
        $('#infolabel').text("configuing markers data")
        var markers = [];
        var startingPoint = null;
        var destinationPoint = null;
        fetchedMovies.forEach(function (el) {
            //var model = { lat: '', lng: '', title: el.driverName };
            startingPoint = el.startingPoint;
            destinationPoint = el.destinationPoint;
            $("#customerName").text('Customer Name : ' + el.customerName)
            el.routeDetail.forEach(function (el2) {
                var model = { lat: el2.lat, lng: el2.lng, title: el2.timeStamp.toDate().toLocaleString() }
                markers.push(model);
            });
        });

        $('#infolabel').text("configuring map")
        $('.loader_bg').hide();
        if (markers.length > 0) {
            //window.onload = function () {

            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            debugger;
            var stLatlng = new google.maps.LatLng(startingPoint.lat, startingPoint.lng);
            var dstLatlng = new google.maps.LatLng(destinationPoint.lat, destinationPoint.lng);
            var marker = new google.maps.Marker({
                position: stLatlng,
                map: map,
                title: 'Starting Point',
                icon: {
                    url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                }
            });

            marker = new google.maps.Marker({
                position: dstLatlng,
                map: map,
                title: 'Destination Point',
                icon: {
                    url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                }
            });



            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title,

                });

                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
            // }
        } else {
            $("#dvMap").hide();
            $('.loader_bg').hide();
        }
        $('#infolabel').hide();
    }

    function ajaxBaseCall2(type, url, dataParams, callback) {
        debugger;
        dataParams.model.forEach(function (el) {
            var startingPoint = el.startingPoint;
            var destinationPoint = el.destinationPoint;
            var routedetail = el.routeDetail;

            var startpointtime = startingPoint.timeStamp.toDate();
            var destpointtime = destinationPoint.timeStamp.toDate();
            {
                var dd = startpointtime;
                var datestring = dd.getFullYear() + "-" +
                    ((dd.getMonth() + 1 < 10 ? "0" + (dd.getMonth() + 1) : dd.getMonth() + 1)) +
                    "-" + (dd.getDate() < 10 ? "0" + dd.getDate() : dd.getDate()) +
                    " " + dd.getHours() + ":" + dd.getMinutes() + ":" + dd.getSeconds();
                startingPoint.timeStamp = datestring;
                dd = destpointtime;
                datestring = dd.getFullYear() + "-" +
                    ((dd.getMonth() + 1 < 10 ? "0" + (dd.getMonth() + 1) : dd.getMonth() + 1)) +
                    "-" + (dd.getDate() < 10 ? "0" + dd.getDate() : dd.getDate()) +
                    " " + dd.getHours() + ":" + dd.getMinutes() + ":" + dd.getSeconds();
                destinationPoint.timeStamp = datestring;

                routedetail.forEach(function (r) {
                    var ddn = r.timeStamp.toDate();
                    datestring = dd.getFullYear() + "-" +
                        ((dd.getMonth() + 1 < 10 ? "0" + (dd.getMonth() + 1) : dd.getMonth() + 1)) +
                        "-" + (dd.getDate() < 10 ? "0" + dd.getDate() : dd.getDate()) +
                        " " + dd.getHours() + ":" + dd.getMinutes() + ":" + dd.getSeconds();
                    r.timeStamp = datestring;
                });
            }


        });
        $.ajax({
            type: type,//"POST",
            url: url,//"/LiveClaims/BulkClaims.aspx/CreateAndDowloadBulkFile",
            data: dataParams,//{ 'model': [{ 'customerName': 'hello' }, { 'customerName': 'kuna' }] },
            //contentType: 'application/json; charset=utf-8',
            // dataType: 'json',
            //dataType: "json",
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('.loader_bg').hide();
                return false;
            },
            success: function (result) {
                debugger;
                var res = result;
                if (res.success && !res.error) {
                    $('.loader_bg').hide();
                    return;
                }
                else {
                    //lblError.text("An error occured.Please cotnact support team");
                    $('.loader_bg').hide();
                    return;
                }
            }
        });
    }


</script>