﻿@model BLL.ViewModels.LoanServiceBusinessModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoanService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
           <img src="/@Model.ImageUrl" height="40" width="40"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLoanAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLoanAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanServiceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanServiceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanType.LoanTypeName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCategory.ServiceCategoryName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoanServiceID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
