﻿@model BOL.Models.LoanService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LoanService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="/@Model.ImageUrl" height="90" width="90" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLoanAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLoanAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanServiceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanServiceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanType.LoanTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCategory.ServiceCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoanServiceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
