﻿
@{
    ViewData["Title"] = "ViewSeletedDeliveriesOnMap";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
@section scripts{
    <script src="~/js/ajaxRequests.js"></script>
}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>

<div class="chance"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 si-box-padding">
            <!-------------- common-head-wrapper-sm -------------->
            <section class="common-head-wrapper-sm clearfix">
                <div class="wrapper-head">
                    <h4><i class="glyphicon glyphicon-user"></i><span>Deliveries On Map</span></h4>
                </div>
                <!-- end of wrapper-head -->
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="/Dashboard">Dashboard</a></li>
                        <li><a href="/CustomersInAreaDeliveryOrders">Deliveries Order</a></li>
                    </ul>
                </div>
                <!-- end of bread-crumbs -->
            </section>
            <!-- end of common-head-wrapper-sm -->
            <!-------------- progress-step -------------->
            <div class="progress-step clearfix">
                <div class="progress_inner">
                    @*<div class="step-tab clearfix">
                            <div class='progress_inner__step'>
                                <label for='step-1'>Merchant</label>
                            </div>
                            <div class='progress_inner__step'>
                                <label for='step-2'>Configuration</label>
                            </div>
                            <div class='progress_inner__step'>
                                <label for='step-3'>User and Role</label>
                            </div>
                        </div>*@
                    <!-- end of step-tab -->
                    <input checked='checked' id="step-1" name="step" type="radio">
                    <input id="step-2" name="step" type="radio">
                    <input id="step-3" name="step" type="radio">
                    <input id="step-4" name="step" type="radio">
                    <input id="step-5" name="step" type="radio">
                    <div class="progress_inner__bar"></div>
                    <div class="progress_inner__bar--set"></div>
                    <!-------------- progress_inner__tabs -------------->
                    <div class='progress_inner__tabs'>
                        <div class='tab tab-0 white-smooth-wrapper'>

                            <div class="row" id="mapArea">
                                <div class="alert alert-success" hidden="hidden">

                                </div>
                                <input id="pac-input"
                                       class="controls"
                                       type="text"
                                       placeholder="Search Box" />
                                <div id="dvMap" style="width: 100%; height: 500px">
                                </div>

                            </div>

                            @*<div class="form-footer clearfix">
                                    <a href="#" id="btnCreateUser" class="btn sm-custom-btn sm-save-btn pull-right">Save</a>
                                    <a href="#" class="btn sm-custom-btn pull-right">Clear</a>
                                </div>*@
                            <!-- end of form-footer -->
                        </div>
                        <!-- end of white-smooth-wrapper -->
                        <!----------------configuration---------------->

                    </div>
                    <!-- end of progress_inner__tabs -->
                </div>
                <!-- end of progress_inner -->
            </div>
            <!-- end of progress-step -->
        </div>
        <!-- end of col-md-12 -->
    </div>
    <!-- end of row -->
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADPwys5xIOIM0h_LB3wPI8p3A5er5tSqs&libraries=places&v=weekly"></script>
<script type="text/javascript">
    var markers = @Html.Raw(ViewBag.Markers);
    if (markers.length > 0) {
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    } else
    {
        $("#dvMap").hide();
    }
</script>


