﻿@model BOL.Models.AreaAssignedToDriver

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errors = ViewData["Errors"] as string;
}

<h1>Create</h1>
@if (!string.IsNullOrEmpty(errors))
{
    <span style="
    color: red;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    text-align:right
"> @errors </span>
}
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col">
                    <label asp-for="DriverID" class="control-label"></label>
                    <select asp-for="DriverID" class="form-control" asp-items="ViewBag.DriverID"></select>
                </div>
                <div class="col">
                    <label asp-for="AreaID" class="control-label"></label>
                    <select asp-for="AreaID" class="form-control" asp-items="ViewBag.AreaID"></select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="send" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

