﻿@model IEnumerable<BOL.Models.AreaAssignedToDriver>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Areas)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Areas.AreaName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AreaAssignedToDriverID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AreaAssignedToDriverID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AreaAssignedToDriverID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
