﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


<div class="chance"></div>
<!-- end of chance -->
<section class="profile-page">
    <div class="container">
        <!-- ================================
        breadcrumbs
        ================================-->
        <div class="row">
            <div class="col-md-12 si-box-padding">
                <section class="common-head-wrapper-sm clearfix">
                    <div class="wrapper-head">
                        <h4><i class="glyphicon glyphicon-th-large"></i><span>Dashboard</span></h4>
                    </div>
                    <!-- end of wrapper-head -->
                    <div class="bread-crumbs">
                        <ul>
                            @*<li><a href="#">Home</a></li>*@
                            <li><a href="/Dashboard/index2">Dashboard</a></li>
                        </ul>
                    </div>
                    <!-- end of bread-crumbs -->
                </section>
                <!-- end of common-head-wrapper-sm -->
            </div>
            <!-- end of si-box-padding -->
        </div>
        <!-- end of row -->
        <div class="row">
            <div class="col-md-12">
                <!-- ================================
                widget box main
                ================================-->
                <section class="dash-main-widget-box">
                    <div class="row">
                        <div class="col-sm-3 si-box-padding">
                            <div class="dash-box">
                                <h2>43</h2>
                                <p>Total Borrowers <span>Today</span></p>
                                <div class="control-in-dc above-box">
                                    <span>6%</span><i class="ti-arrow-up"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>
                        <!-- end of si-box-padding -->
                        <div class="col-sm-2 si-box-padding">
                            <div class="dash-box">
                                <h2>20</h2>
                                <p>No of Fully Paid Loans <span>Today</span></p>
                                <div class="control-in-dc down-box">
                                    <span>2%</span><i class="ti-arrow-down"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>
                        <!-- end of si-box-padding -->
                        <div class="col-sm-2 si-box-padding">
                            <div class="dash-box">
                                <h2>60</h2>
                                <p>Total Loan Releases <span>Today</span></p>
                                <div class="control-in-dc above-box">
                                    <span>15%</span><i class="ti-arrow-up"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>
                        <!-- end of si-box-padding -->
                        <div class="col-sm-2 si-box-padding">
                            <div class="dash-box">
                                <h2>35</h2>
                                <p>Open Loans <span>Today</span></p>
                                <div class="control-in-dc down-box">
                                    <span>4%</span><i class="ti-arrow-down"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>

                        <div class="col-sm-3 si-box-padding">
                            <div class="dash-box">
                                <h2>35</h2>
                                <p>Total Collection <span>Today</span></p>
                                <div class="control-in-dc down-box">
                                    <span>4%</span><i class="ti-arrow-down"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>
                        <!-- end of si-box-padding -->
                    </div>
                    <!-- end of row -->
                </section>
                <!-- end of widget box main -->
           

                <!-- chart section -->
                <section class="chart-section-dash">
                    <div class="row">
                        <!-- ================================
    main chart
    ================================-->
                        <div class="col-md-6 si-box-padding">
                            <div class="chart-blue-value">
                                <div class="chart-head">
                                    <div class="row">
                                        <div class="col-sm-7 col-xs-12">
                                            <h4>Total Trial vs Live Merchants</h4>
                                        </div>
                                        <!-- end of col-sm-7 -->
                                        <div class="col-sm-5 col-xs-12">
                                            <ul class="chart-selection-date clearfix">
                                                <li><a href="#">Today</a></li>
                                                <li><a href="#">Weekly</a></li>
                                                <li><a href="#">Monthly</a></li>
                                            </ul>
                                        </div>
                                        <!-- end of col-sm-5 -->
                                    </div>
                                    <!-- end of row -->
                                </div>
                                <!-- end of chart-head -->
                                <div id="chart"></div>
                                <!-- end of chart -->
                            </div>
                            <!-- end of chart-blue-value -->
                        </div>

                        <div class="col-md-6 si-box-padding">
                            <div class="chart-blue-value">
                                <div class="chart-head">
                                    <div class="row">
                                        <div class="col-sm-7 col-xs-12">
                                            <h4>Total Trial vs Live Merchants</h4>
                                        </div>
                                        <!-- end of col-sm-7 -->
                                        <div class="col-sm-5 col-xs-12">
                                            <ul class="chart-selection-date clearfix">
                                                <li><a href="#">Today</a></li>
                                                <li><a href="#">Weekly</a></li>
                                                <li><a href="#">Monthly</a></li>
                                            </ul>
                                        </div>
                                        <!-- end of col-sm-5 -->
                                    </div>
                                    <!-- end of row -->
                                </div>
                                <!-- end of chart-head -->
                                <div id="chart2"></div>
                                <!-- end of chart -->
                            </div>
                            <!-- end of chart-blue-value -->
                        </div>
                        <!-- end of col-md-8 -->
                        <!-- ================================
    top 5 merchants by collection
    ================================-->
                        <!-- end of si-box-padding -->
                    </div>
                    <!-- end of row -->
               
                    <!-- end of row -->
                
                    <!-- end of row -->
                </section>
                <!-- end of chart section -->
                <!-- ================================
                small-widget
                ================================-->
                <!-- end of small-widget -->
                <!-- ================================
                data table
                ================================-->
              
                <!-- end of data-table -->
                <!-- ================================
                Merchant List
                ================================-->
          
                <!-- end of merchant-table -->
            </div>
            <!-- end of col-md-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</section>
<!-- end of profile-page -->
