﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


<div class="chance"></div>
<!-- end of chance -->
<section class="profile-page">
    <div class="container">
        <!-- ================================
        breadcrumbs
        ================================-->
        <div class="row">
            <div class="col-md-12 si-box-padding">
                <section class="common-head-wrapper-sm clearfix">
                    <div class="wrapper-head">
                        <h4><i class="glyphicon glyphicon-th-large"></i><span>Dashboard</span></h4>
                    </div>
                    <!-- end of wrapper-head -->
                    <div class="bread-crumbs">
                        <ul>
                            @*<li><a href="#">Home</a></li>*@
                            <li><a href="/Dashboard/index2">Dashboard</a></li>
                        </ul>
                    </div>
                    <!-- end of bread-crumbs -->
                </section>
                <!-- end of common-head-wrapper-sm -->
            </div>
            <!-- end of si-box-padding -->
        </div>
        <!-- end of row -->
        <div class="row">
            <div class="col-md-12">
                <!-- ================================
                widget box main
                ================================-->
                <section class="dash-main-widget-box">
                    <div class="row">
                        <div class="col-sm-3 si-box-padding">
                            <div class="dash-box">
                                <h2 id="totalborrowers">43</h2>
                                <p>Total Borrowers <span></span></p>
                                <div class="control-in-dc above-box">
                                    <span>6%</span><i class="ti-arrow-up"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>
                        <!-- end of si-box-padding -->
                        <div class="col-sm-2 si-box-padding">
                            <div class="dash-box">
                                <h2 id="totalFullyPaidLoans">20</h2>
                                <p>No of Fully Paid Loans <span></span></p>
                                <div class="control-in-dc down-box">
                                    <span>2%</span><i class="ti-arrow-down"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>
                        <!-- end of si-box-padding -->
                        <div class="col-sm-2 si-box-padding">
                            <div class="dash-box">
                                <h2 id="totalLoanReleased">60</h2>
                                <p>Total Loan Releases <span></span></p>
                                <div class="control-in-dc above-box">
                                    <span>15%</span><i class="ti-arrow-up"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>
                        <!-- end of si-box-padding -->
                        <div class="col-sm-2 si-box-padding">
                            <div class="dash-box">
                                <h2 id="totalOpenLoans">35</h2>
                                <p>Open Loans <span></span></p>
                                <div class="control-in-dc down-box">
                                    <span>4%</span><i class="ti-arrow-down"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>

                        <div class="col-sm-3 si-box-padding">
                            <div class="dash-box">
                                <h2 id="totalCollections">35</h2>
                                <p>Total Collection <span></span></p>
                                <div class="control-in-dc down-box">
                                    <span>4%</span><i class="ti-arrow-down"></i>
                                </div>
                            </div>
                            <!-- end of dash-box -->
                        </div>
                        <!-- end of si-box-padding -->
                    </div>
                    <!-- end of row -->
                </section>
                <!-- end of widget box main -->
                <!-- chart section -->
                <section class="chart-section-dash">
                    <div class="row">
                        <!-- ================================
                        main chart
                        ================================-->
                        <div class="col-md-6 si-box-padding">
                            <div class="chart-blue-value">
                                <div class="chart-head">
                                    <div class="row">
                                        <div class="col-sm-7 col-xs-12">
                                            <h4>Loan Released Monthly</h4>
                                        </div>
                                        <!-- end of col-sm-7 -->
                                        @*<div class="col-sm-5 col-xs-12">
                                                <ul class="chart-selection-date clearfix">
                                                    <li><a href="#">Today</a></li>
                                                    <li><a href="#">Weekly</a></li>
                                                    <li><a href="#">Monthly</a></li>
                                                </ul>
                                            </div>*@
                                        <!-- end of col-sm-5 -->
                                    </div>
                                    <!-- end of row -->
                                </div>
                                <!-- end of chart-head -->
                                <div id="chart"></div>
                                <!-- end of chart -->
                            </div>
                            <!-- end of chart-blue-value -->
                        </div>

                        <div class="col-md-6 si-box-padding">
                            <div class="chart-blue-value">
                                <div class="chart-head">
                                    <div class="row">
                                        <div class="col-sm-7 col-xs-12">
                                            <h4>Loan Collect Monthly</h4>
                                        </div>
                                        <!-- end of col-sm-7 -->
                                        @*<div class="col-sm-5 col-xs-12">
                                                <ul class="chart-selection-date clearfix">
                                                    <li><a href="#">Today</a></li>
                                                    <li><a href="#">Weekly</a></li>
                                                    <li><a href="#">Monthly</a></li>
                                                </ul>
                                            </div>*@
                                        <!-- end of col-sm-5 -->
                                    </div>
                                    <!-- end of row -->
                                </div>
                                <!-- end of chart-head -->
                                <div id="chart2"></div>
                                <!-- end of chart -->
                            </div>
                            <!-- end of chart-blue-value -->
                        </div>
                        <!-- end of col-md-8 -->
                        <!-- ================================
                        top 5 merchants by collection
                        ================================-->
                        <!-- end of si-box-padding -->
                    </div>
                    <!-- end of row -->
                    <!-- end of row -->
                    <!-- end of row -->
                </section>
                <!-- end of chart section -->
                <!-- ================================
                small-widget
                ================================-->
                <!-- end of small-widget -->
                <!-- ================================
                data table
                ================================-->
                <!-- end of data-table -->
                <!-- ================================
                Merchant List
                ================================-->
                <!-- end of merchant-table -->
            </div>
            <!-- end of col-md-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</section>
<!-- end of profile-page -->
<script src="~/assets/js/jquery.min.js"></script>
<script>
    jQuery(function ($) {

        $(document).ready(function () {

            var options = {
                chart: {
                    height: 380,
                    type: 'area',
                },
                dataLabels: {
                    enabled: true
                },
                stroke: {
                    curve: 'straight' //smooth 
                },
                series: [{
                    name: 'Trial',
                    data: [31, 40, 28, 160, 42]
                }
                    //    ,
                    //{
                    //    name: 'Live',
                    //    data: [20, 8, 50, 32, 34]
                    //}
                ],

                xaxis: {
                    type: 'month',
                    categories: ["jan 2020", "feb 2020", "march 2020", "april 2020", "may 2020"],
                },
                tooltip: {
                    x: {
                        format: 'dd/MM/yy HH:mm'
                    },
                },
                legend: {
                    show: true,
                    offsetY: 340,
                },

                grid: {
                    yaxis: {
                        lines: {
                            show: true
                        }
                    }
                },

            }





            $.ajax({

                url: "/Dashboard/GetDashboardData",
                type: "Get",
                // datatype: "json",
                /// traditional: true,
                //contentType: "application/json; charset=utf-8",
                //data: { 'usernme': email, 'newpassword': newpassword },
                //dataType: "json",
                //async: false, //_async,
                success: function (result) {
                    //debugger;
                    $("#totalborrowers").text(result.data.totalNoOFBorrowers);
                    $("#totalFullyPaidLoans").text(result.data.totalFullyPaidLoans);
                    $("#totalLoanReleased").text(result.data.totalLoanReleased);
                    $("#totalOpenLoans").text(result.data.totalOpenLoans);
                    $("#totalCollections").text(result.data.totalCollection);
                    var totalrealeasedChartData = result.data.monthlyLoanReleasedData;
                    var totalCollectLoanChartData = result.data.monthlyLoanCollectionData;
                    var newoptions = {
                        chart: {
                            height: 380,
                            type: 'area',
                        },
                        dataLabels: {
                            enabled: true
                        },
                        stroke: {
                            curve: 'straight' //smooth 
                        },
                        series: [{
                            name: 'Trial',
                            data: [31, 40, 28, 160, 42]
                        }
                            //    ,
                            //{
                            //    name: 'Live',
                            //    data: [20, 8, 50, 32, 34]
                            //}
                        ],

                        xaxis: {
                            type: 'month',
                            categories: ["jan 2020", "feb 2020", "march 2020", "april 2020", "may 2020"],
                        },
                        tooltip: {
                            x: {
                                format: 'dd/MM/yy HH:mm'
                            },
                        },
                        legend: {
                            show: true,
                            offsetY: 340,
                        },

                        grid: {
                            yaxis: {
                                lines: {
                                    show: true
                                }
                            }
                        },

                    };
                    var newoptions2 = {
                        chart: {
                            height: 380,
                            type: 'area',
                        },
                        dataLabels: {
                            enabled: true
                        },
                        stroke: {
                            curve: 'straight' //smooth 
                        },
                        series: [{
                            name: 'Trial',
                            data: [31, 40, 28, 160, 42]
                        }
                            //    ,
                            //{
                            //    name: 'Live',
                            //    data: [20, 8, 50, 32, 34]
                            //}
                        ],

                        xaxis: {
                            type: 'month',
                            categories: ["jan 2020", "feb 2020", "march 2020", "april 2020", "may 2020"],
                        },
                        tooltip: {
                            x: {
                                format: 'dd/MM/yy HH:mm'
                            },
                        },
                        legend: {
                            show: true,
                            offsetY: 340,
                        },

                        grid: {
                            yaxis: {
                                lines: {
                                    show: true
                                }
                            }
                        },

                    };
                    //var monthnames = options.xaxis.categories;
                    var montharray = [];
                    var amountarray = [];
                    totalrealeasedChartData.forEach(function (el) {
                        montharray.push(el.monthName);
                        amountarray.push(el.amount);
                    });
                    newoptions.xaxis.categories = montharray;
                    newoptions.series[0].data = amountarray;

                    var montharray2 = [];
                    var amountarray2 = [];
                    totalCollectLoanChartData.forEach(function (el) {
                        montharray2.push(el.monthName);
                        amountarray2.push(el.amount);
                    });
                    newoptions2.xaxis.categories = montharray2;
                    newoptions2.series[0].data = amountarray2;

                    if ($("#chart")[0] != undefined) {

                        var chart = new ApexCharts(
                            document.querySelector("#chart"),
                            newoptions
                        );

                        chart.render();

                        var chart2 = new ApexCharts(
                            document.querySelector("#chart2"),
                            newoptions2
                        );

                        chart2.render();
                    }


                    //setTimeout(function () {
                    //    location.reload();
                    //}, 4000);

                }
            });


        });
   
    });
   
</script>