﻿@model BLL.ViewModels.Identity.UserDetailsViewModel

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

    // var regionsList = ViewData["Regions"] as List<Region>;
    var errors = ViewData["Errors"] as string;
}
@section scripts{
    <script src="~/js/ajaxRequests.js"></script>
    <script src="~/js/Users.js"></script>
}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>









<div class="chance"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 si-box-padding">
            <!-------------- common-head-wrapper-sm -------------->
            <section class="common-head-wrapper-sm clearfix">
                <div class="wrapper-head">
                    <h4><i class="glyphicon glyphicon-user"></i><span>USERS</span></h4>
                </div>
                <!-- end of wrapper-head -->
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="/Dashboard">Dashboard</a></li>
                        <li><a href="/Users">Users</a></li>
                        <li><a href="/Users/Create">Add User</a></li>
                    </ul>
                </div>
                <!-- end of bread-crumbs -->
            </section>
            <!-- end of common-head-wrapper-sm -->
            <!-------------- progress-step -------------->
            <div class="progress-step clearfix">
                <div class="progress_inner">
                    @*<div class="step-tab clearfix">
                            <div class='progress_inner__step'>
                                <label for='step-1'>Merchant</label>
                            </div>
                            <div class='progress_inner__step'>
                                <label for='step-2'>Configuration</label>
                            </div>
                            <div class='progress_inner__step'>
                                <label for='step-3'>User and Role</label>
                            </div>
                        </div>*@
                    <!-- end of step-tab -->
                    <input checked='checked' id="step-1" name="step" type="radio">
                    <input id="step-2" name="step" type="radio">
                    <input id="step-3" name="step" type="radio">
                    <input id="step-4" name="step" type="radio">
                    <input id="step-5" name="step" type="radio">
                    <div class="progress_inner__bar"></div>
                    <div class="progress_inner__bar--set"></div>
                    <!-------------- progress_inner__tabs -------------->
                    <div class='progress_inner__tabs'>
                        <div class='tab tab-0 white-smooth-wrapper'>
                            @if (!string.IsNullOrEmpty(errors))
                            {
                                <span style="
                                color: red;
                                font-size: 12px;
                                padding: 10px;
                                margin: 10px;
                                margin-bottom: 20px;
                                text-align:right;"> @errors</span>
                            }
                            <!-------------- Merchant -------------->
                            <div class="wrapper-head semi-head-border">
                                <h4>ADD DETAIL HERE</h4>
                            </div>
                            <div class="organization-form">
                                <div class="row">
                                    <form name="userform" asp-action="Create" enctype="multipart/form-data">


                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Name</label>
                                                <input type="text" asp-for="FullName" placeholder="Enter the name">
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Role</label>
                                                <select style="width: 100%; height: 32px; border: 1px solid #d5d5d5; padding: 2px; font-size: 13px; border-radius: 2px;"
                                                        asp-for="RoleName" class="form-control" asp-items="ViewBag.RoleName"></select>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Area</label>
                                                <select style="width: 100%; height: 32px; border: 1px solid #d5d5d5; padding: 2px; font-size: 13px; border-radius: 2px;"
                                                        asp-for="AreaID" class="form-control" asp-items="ViewBag.AreaID"></select>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Customer ID</label>
                                                <input type="text" asp-for="CustomerIdPos" placeholder="Enter Customer ID">
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Phone </label>
                                                <input type="text" asp-for="PhoneNumber" placeholder="Enter Phone">
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Bottle Price</label>
                                                <input type="text" asp-for="BottleSpecialPrice" placeholder="Bottle Price">
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Password</label>
                                                <input type="password" asp-for="Password" placeholder="Enter the Password">
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Delivery Frequency</label>
                                                <select style="width: 100%; height: 32px; border: 1px solid #d5d5d5; padding: 2px; font-size: 13px; border-radius: 2px;"
                                                        asp-for="DeliveryFrequency">
                                                    <option value="1">Daily</option>
                                                    <option value="3">Twice A week</option>
                                                    <option value="2">Thrice A week</option>
                                                    <option value="7">Once a week</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Upload Image</label>
                                                <input asp-for="UploadedImage" style="padding:5px;" type="file" placeholder="Enter the currency">
                                            </div>
                                            <input type="hidden" asp-for="Latitude" />
                                            <input type="hidden" asp-for="Longitude" />
                                            <input type="hidden" asp-for="PlaceName" />
                                            <input type="hidden" asp-for="FormatedAddress" />
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label>Assigned Days</label>
                                                <select style="width: 100%; border: 1px solid #d5d5d5; padding: 2px; font-size: 13px; border-radius: 2px;"
                                                        asp-for="Days" multiple="multiple">
                                                    <option value="All">All</option>
                                                    <option value="Monday">Monday</option>
                                                    <option value="Tuesday">Tuesday</option>
                                                    <option value="Wednesday">Wednesday</option>
                                                    <option value="Thursday">Thursday</option>
                                                    <option value="Friday">Friday</option>
                                                    <option value="Saturday">Saturday</option>
                                                    <option value="Sunday">Sunday</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="input-wrapper-sm">
                                                <label>Address</label>
                                                <textarea asp-for="Address" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <!-- end of col-md-12 -->
                                    </form>
                                </div>
                                <!-- end of row -->
                            </div>
                            <!-- end of organization-form -->
                            <!-------------- Address line -------------->
                            <!-- end of organization-form -->

                            <div class="row" id="mapArea">
                                <div class="alert alert-success" hidden="hidden">

                                </div>
                                <input id="pac-input"
                                       class="controls"
                                       type="text"
                                       placeholder="Search Box" />
                                <div id="dvMap" style="width: 100%; height: 500px">
                                </div>

                            </div>

                            <div class="form-footer clearfix">
                                <button id="btnCreateUser" type="" class="btn sm-custom-btn sm-save-btn pull-right">Save</button>
                                <a href="#" class="btn sm-custom-btn pull-right">Clear</a>
                            </div>
                            <!-- end of form-footer -->
                        </div>
                        <!-- end of white-smooth-wrapper -->
                        <!----------------configuration---------------->

                    </div>
                    <!-- end of progress_inner__tabs -->
                </div>
                <!-- end of progress_inner -->
            </div>
            <!-- end of progress-step -->
        </div>
        <!-- end of col-md-12 -->
    </div>
    <!-- end of row -->
</div>




<script>
    $(document).load(function () {
        //debugger;
        // Handler for .load() called.
        $(".nice-select").hide();

    });
    $(document).ready(function () {
        //debugger;
        $(".nice-select").hide();
        $("#mapArea").hide();
        ToggleMap($("#RoleName").val());
        if ($('#DeliveryFrequency').val() == "1") {
            $('#Days').val(["All"]);

        }
    });

    $("#RoleName").change(function () {
        //debugger;
        var value = this.value;
        ToggleMap(value);
        //alert("The  has been changed.");
    });

    function ToggleMap(value) {
        //debugger;
        if (value == "DeliveryCustomer") {
            $("#BottleSpecialPrice").prop("disabled", false);
            $("#BottleSize").prop("disabled", false);
            $("#DeliveryFrequency").prop("disabled", false);
            $("#days").prop("disabled", false);
            $("#mapArea").show();
        } else {
            $("#BottleSpecialPrice").prop("disabled", true);
            $("#BottleSize").prop("disabled", true);
            $("#days").prop("disabled", true);

            $("#mapArea").hide();
            $("#DeliveryFrequency").prop("disabled", true);
        }
    }
</script>
