﻿@model BLL.ViewModels.UserDetailBusinessModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

}

<h1>Details</h1>

<div class="container">
    <h4>ApplicationUser</h4>
    <hr />
  

    <dl class="row">
        <dt class="col-sm-6">
            Full Name : @Model.FullName
        </dt>

        <dt class="col-sm-6">
            Joiningdate : @Model.Joiningdate
        </dt>

        <dt class="col-sm-6">
            UserName : @Model.UserName
        </dt>
        <dt class="col-sm-6">
            Password : @Model.PlainPassword
        </dt>
  
        <dd class="col-sm-6">
            PhoneNumber : @Model.PhoneNumber
        </dd>
    </dl>

 
  
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


