﻿@model BOL.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>

<h1>Edit</h1>

<h4>ApplicationUser</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col">
                    <label asp-for="FullName" class="control-label">Name</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CustomerIdPos" class="control-label">Customer ID</label>
                    <input asp-for="CustomerIdPos" class="form-control" />
                    <span asp-validation-for="CustomerIdPos" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" disabled />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="Joiningdate" class="control-label"></label>
                    <input asp-for="Joiningdate" class="form-control" />
                    <span asp-validation-for="Joiningdate" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="DeliveryFrequency" class="control-label"></label>
                    <select asp-for="DeliveryFrequency" class="form-control">
                        <option value="1">Daily</option>
                        <option value="3">Twice A week</option>
                        <option value="2">Thrice A week</option>
                        <option value="7">Once a week</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="BottleSpecialPrice" class="control-label"></label>
                    <input asp-for="BottleSpecialPrice" class="form-control" />
                    <span asp-validation-for="BottleSpecialPrice" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" disabled />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="PlainPassword" class="control-label">Password</label>
                    <input asp-for="PlainPassword" class="form-control" disabled/>
                    <span asp-validation-for="PlainPassword" class="text-danger"></span>
                </div>
                <div class="col">
               
                </div>
            </div>



            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Latitude" />
            <input type="hidden" asp-for="Longitude" />
            <input type="hidden" asp-for="PlaceName" />
            <input type="hidden" asp-for="FormatedAddress" />
            <input type="hidden" asp-for="ShortAddress" />


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success" style="width:15%" />
            </div>
        </form>
    </div>
</div>




<div class="row">
    <div class="col-md-12" style="background-color: lightgray; border-radius: 10px; padding: 10px;">


        <div class="alert alert-success" hidden="hidden">

        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Email" class="control-label"> New Password</label>
                <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password" required />
                <label style="font-size:11px;margin-top:0px;" class="error errormessage1"></label>
            </div>
            <div class="col">
                <label asp-for="PhoneNumber" class="control-label">New Password (Confirm)</label>
                <input type="password" class="form-control" id="NewPasswordConfirm" name="NewPasswordConfirm" placeholder="New Password (Confirm)" required="">
                <label style="font-size:11px;margin-top:0px;" class="error errormessage2"></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a onclick="changepassword(this)" class="btn btn-outline-dark" style="width:15%">Change Password</a>
            </div>
        </div>
    </div>
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>




<script>

    localStorage.setItem("isFormValid", "valid");
    $("#NewPassword").keyup(function (eventObject) {
        //debugger;

        var val = $(this).val();// + eventObject.key;
        var currentField = $(this);
        var parentdiv = $(this).parent();
        var errormessage = $(".errormessage1");

        var a = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+){8,}$/;
        var res1 = a.test(val);
        if (!res1) {
            errormessage.text("Password must be 8 characters min,and aphanumeric");
            parentdiv.addClass("error");
            parentdiv.addClass("focused");
            localStorage.setItem("isFormValid", "invalid");
            parentdiv.removeClass("success");
        } else {
            errormessage.text("");
            localStorage.setItem("isFormValid", "valid");
            parentdiv.removeClass("error");
            parentdiv.addClass("success");
        }

        //val = val.toUpperCase();
        //var regexp1 = /^[A-Z0-9 ]*$/;
        //var regexp2 = /^[A-Za-z0-9 ]$/;
        //if (regexp1.test(val) && regexp2.test(eventObject.key)) {
        //    $(this).val(val);
        //}

        //return false;
    });


    $("#NewPasswordConfirm").keyup(function (eventObject) {
        //debugger;
        var val = $(this).val();// + eventObject.key;
        var parentdiv = $(this).parent();
        var errormessage = $(".errormessage2");
        var a = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+){8,}$/;
        var res1 = a.test(val);
        if (!res1) {
            errormessage.text("Password must be 8 characters min,and aphanumeric");
            parentdiv.addClass("error");
            parentdiv.addClass("focused");
            localStorage.setItem("isFormValid", "invalid");

            parentdiv.removeClass("success");
        } else {
            errormessage.text("");
            parentdiv.removeClass("error");
            localStorage.setItem("isFormValid", "valid");

            parentdiv.addClass("success");
        }
    });


    function validatenewpasword() {
        debugger;
        var b;
        var a = $('#NewPassword');
        //div section
        b = a.parent();
        var a = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;
        var res1 = a.test("Test@123");
        if (!res1) {

            b.addClass("error");
            b.addClass("focused");
        } else {
            b.removeClass("error");
            b.removeClass("focused");
        }
    }

    function changepassword(event) {
        debugger;

        var ss = $(".alert-success");
        var email = $("#UserName").val();
        var newpassword = $("#NewPassword").val();
        var confirmpassword = $("#NewPasswordConfirm").val();
        if (newpassword != confirmpassword) {
            ss.show();
            ss.text("Check your passwords again. ");
            return;
        }

        var isvalid = localStorage.getItem("isFormValid");
        if (isvalid != "valid") {
            ss.show();
            ss.text("Check your passwords again. ");
            return;
        }
        else {
            ss.hide();
        }

        $(".btn-outline-dark").text('Changing Now');
        $.ajax({

            url: "/users/ChangePassword",
            type: "POST",
            // datatype: "json",
            /// traditional: true,
            //contentType: "application/json; charset=utf-8",
            data: { 'usernme': email, 'newpassword': newpassword },
            //dataType: "json",
            //async: false, //_async,
            success: function (result) {
                ss.show();
                ss.text("Your password changed sccessfully ");
                $(".btn-outline-dark").text('Change Password');
                alert("Password is changed sucessfully");
                $("#PlainPassword").val(newpassword);
                //setTimeout(function () {
                //    location.reload();
                //}, 4000);

            }
        });
    }
</script>
<style>
    .errorField {
        border: #ff0202  solid 2px
    }
    .validField {
        border: #ffc221 solid 2px
    }
    .error {
       color:red
    }
    .alert-success {
    background-color:green;
    padding:10px;
    border-radius:10px
    }
</style>
