﻿@model BLL.ViewModels.PaginatedList<BLL.ViewModels.UserDetailBusinessModel>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    var allUsers = Model;
    var adminUsers = allUsers.Where(sa => sa.RoleName.Contains("Admin") || sa.RoleName.Contains("Employee"));
    var drivers = allUsers.Where(sa => sa.RoleName.Contains("Driver"));
    var deliveryCustomer = allUsers.Where(sa => sa.RoleName.Contains("DeliveryCustomer"));

    var adminCount = adminUsers.Count();
    var driversCount = drivers.Count();
    var deliveryCustomerCout = deliveryCustomer.Count();

}
@section scripts{
    <script src="~/js/ajaxRequests.js"></script>
    <script src="~/js/Users.js"></script>
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -10%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>


<div class="chance"></div>
<!-- end of chance -->
<section class="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 si-box-padding">
                <!-- ================================
                   breadcrumbs
                   ================================-->
                <section class="common-head-wrapper-sm clearfix">
                    <div class="wrapper-head">
                        <h4><i class="glyphicon glyphicon-user"></i><span>USERS</span></h4>
                    </div>
                    <!-- end of wrapper-head -->
                    <div class="bread-crumbs">
                        <ul>
                            <li><a href="/Users">USERS</a></li>
                        </ul>
                    </div>
                    <!-- end of bread-crumbs -->
                </section>
                <!-- end of common-head-wrapper-sm -->
                <!-- ================================
                   merchant-table
                   ================================-->
                <section class="merchant-table">
                    <div class="border-table">
                        <div class="table-head clearfix">
                            @*<p class="pull-left">USERS List</p>*@
                            <div class="col-md-4">
                                <select id="ddlRoles" name="ddlRoles" asp-items="ViewBag.RoleName"
                                        style="width: 100%; height: 32px;margin-top:1%; border: 1px solid #d5d5d5; padding: 2px; font-size: 13px; border-radius: 2px;"></select>
                            </div>

                        </div>
                        <!-- end of table-head -->
                        <div class="table-responsive">
                            <table class="table sm-custom-table" id="grid_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><input type="checkbox" id="checkall" onclick="ToggleChecked()" /></th>
                                        <th onclick="SortClick(1)"><em class="fa fa-fw fa-sort"></em>Customer ID</th>
                                        <th>Name</th>
                                        <th>Phone No</th>
                                        <th>Address</th>
                                        <th>Delivery Freq</th>
                                        <th>Bottle Rate</th>
                                        <th class="action-td">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var index3 = 0; }
                                    @foreach (var item in Model)
                                    {
                                        var delifre = "";
                                        if (item.DeliveryFrequency == 1)
                                            delifre = "Daily";
                                        else if (item.DeliveryFrequency == 2)
                                            delifre = "Thrice A week";
                                        else if (item.DeliveryFrequency == 3)
                                            delifre = "Twice A week";
                                        else
                                            delifre = "Once A week";

                                        ++index3;
                                        <tr>
                                            <td>@index3</td>
                                            <td>
                                                <input id="@item.Id"
                                                       type="checkbox" class="chkboxes" />
                                            </td>
                                            <td>
                                                @item.CustomerIdPos
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>

                                            <td>
                                                @delifre
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.BottleSpecialPrice)
                                            </td>
                                            <td style="width:9%" class="action-center action-td">
                                                <a asp-action="Details" asp-route-id="@item.Id" class="edit"><i class="glyphicon glyphicon-edit"></i></a>
                                                @*<a asp-action="Edit" asp-route-id="@item.Id" class="edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="delete"><i class="glyphicon glyphicon-trash"></i></a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- end of sm-custom-table -->
                        </div>
                        <!-- end of table-responsive -->
                    </div>
                    <!-- end of border-table -->

                    <div id="paginationDiv">
                        @Html.Raw(ViewBag.Paging)
                    </div>

                    <!-- end of pagination -->
                </section>
                <!-- end of merchant-table -->
            </div>
            <!-- end of col-md-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</section>

<!--==============================
        Search wrapper
        ==============================-->
<section class="search-wrapper-side">
    <div class="search-wrapper-in">
        <a class="close-btn-sm"><i class="ti-close"></i></a>
        <h3>Search here !</h3>
        <div class="input-wrapper-sm">
            <label>Search Keyword</label>
            <input type="text" name="m_code" id="search_txt" placeholder="Search Keyword">
        </div>
        <!-- end of input-wrapper-sm -->
        <div class="input-wrapper-sm">
            <label>Search IN</label>
            @Html.DropDownList("SearchIn", new List<SelectListItem>
                       {
                       new SelectListItem{ Text = "Customer Name", Value = "1" },
                       new SelectListItem{ Text = "Customer ID", Value = "2" },
                       }, new { style = "width: 100%;height: 32px; border: 1px solid #d5d5d5;padding: 2px; font-size: 13px;border-radius: 2px;" })
        </div>
        <!-- end of input-wrapper-sm -->
        @*<div class="input-wrapper-sm">
                <label>Boarding Date</label>
                <input type="text" name="b_date" placeholder="Boarding Date">
            </div>*@
        <!-- end of input-wrapper-sm -->
        @*<div class="input-wrapper-sm">
                <label>Region</label>
                <input type="text" name="region" placeholder="Region">
            </div>*@
        <!-- end of input-wrapper-sm -->
        @*<div class="input-wrapper-sm">
                <label>Status</label>
                <input type="text" name="status" placeholder="Status">
            </div>*@
        <!-- end of input-wrapper-sm -->
        <div class="input-wrapper-sm">
            <button onclick="onCLickResetUserSearch();" id="resetButoon" value="isFingerPrint" class="btn sm-custom-btn">Clear</button>
        </div>
        <!-- end of input-wrapper-sm -->
        <div class="input-wrapper-sm">
            <button id="searchBtn" value="isFingerPrint" class="btn sm-save-btn">Search</button>
        </div>
        <!-- end of input-wrapper-sm -->
    </div>
    <!-- end of search-wrapper-in -->
</section>
<!-- end of search-wrapper-side -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js">
    $("#btnPreviousSecond").click(function () {
        alert("hello");
        return false;
    });
</script>