﻿@model Deosai.Models.ViewModels.DeliveryScheduleVM
@using System.Globalization;

@{
    ViewData["Title"] = "ByAreaDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var gropdata = Model.DeliveryScheduleDetail.GroupBy(aa => new { aa.DeliveryDate.Day, aa.DeliveryDate.Month, aa.DeliveryDate.Year })
            .OrderBy(sa => sa.Key.Year).ToList();
}

<h1>ByAreaDetail</h1>

<!-- Basic Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr style="background-color:cadetblue">

                            <th class="text-center">#</th>

                            <th class="text-center">
                                Customer Name
                            </th>
                            <th class="text-center">
                                Delivery Freq
                            </th>
                            <th class="text-center">
                                Contact Number
                            </th>
                            <th class="text-center">
                                Delivery Date
                            </th>
                            <th class="text-center">
                                Rush Call?
                            </th>
                            <th class="text-center">
                                No of Bottlers
                            </th>
                            <th class="text-center">
                                Bottle Price
                            </th>
                            <th class="text-center">
                                Delivery Status
                            </th>
                            <th class="text-center">
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody style="text-align:center;">
                        @{ var aa = 0; }
                        @foreach (var item in gropdata)
                        {
                            var monthname = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Key.Month);
                            <tr style="background-color:forestgreen">
                                <td colspan="10" style="color:white">@item.Key.Day @monthname @item.Key.Year</td>
                            </tr>
                            @foreach (var rec in item.ToList())
                            {
                                ++aa;
                                var delivered = rec.IsDelivered ? "Yes" : "No";
                                var rushCall = rec.IsRushCall ? "Yes" : "No";
                                var selectes = "selected";
                                var unselectes = "";
                                var deliveryFreq = rec.ApplicationUser.DeliveryFrequency == 7 ? "Once A week" :
                                    (rec.ApplicationUser.DeliveryFrequency == 3 ? "Twice A week" :
                                    (rec.ApplicationUser.DeliveryFrequency == 2 ? "Thrice A week" : "Daily"));
                                var colors = rec.IsRushCall ? "#f46d55" : "#fff";
                                <tr style="background-color:@colors">
                                    <th scope="row">@aa</th>

                                    <td>
                                        @Html.DisplayFor(modelItem => rec.ApplicationUser.FullName)
                                    </td>

                                    <td>
                                        @deliveryFreq
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => rec.ApplicationUser.PhoneNumber)
                                    </td>
                                    <td>
                                        @rec.DeliveryDate.ToLongDateString()
                                    </td>
                                    <td>
                                        @rushCall
                                    </td>
                                    <td>
                                        @rec.NoOfBottles
                                    </td>
                                    <td>
                                        @rec.BottlePrice
                                    </td>
                                    <td>
                                        <select name="IsDelivered" disabled="@(DateTime.Now.Date > rec.DeliveryDate.Date ? "disabled" : null )">
                                            <option value="1" selected="@(rec.IsDelivered ? "selected" : null )"> Delivered</option>
                                            <option value="0" selected="@(!rec.IsDelivered ? "selected" : null )">Not Delivered</option>
                                        </select>
                                    </td>
                                    <td>
                                        <a href="#" onclick="checkData(this); return false;" Modelid="@rec.DeliveryScheduleDetailsID"
                                           disabled="@(DateTime.Now.Date > rec.DeliveryDate.Date ? "disabled" : null )">Update</a>
                                        <div class="text-primary small"></div>

                                    </td>
                                </tr>
                            }
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 1px;
        height: 1px;
        margin-left: auto;
        margin-right: auto;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        background-color: aqua;
    }

    /* Safari */
    -webkit-keyframes spin {
        0%

    {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }

    }

    keyframes spin {
        0%

    {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    }
</style>
<script>

    function checkData(updateButton) {
        debugger;
        var detailid = $(updateButton).attr("modelid");
        var spinner = $(updateButton).next();
        $(updateButton).hide();
        spinner.addClass("spinner-border");
        var selectTag = $(updateButton).parent().prev().children().first();
        var selectedDeliveryOption = selectTag.val();

        $.ajax({

            url: "/DeliverySchedules/ChangeDeliveryStatus",
            type: "POST",
            // datatype: "json",
            /// traditional: true,
            //contentType: "application/json; charset=utf-8",
            data: { 'deliveryDetailId': detailid, 'selectedStatus': selectedDeliveryOption },
            //dataType: "json",
            //async: false, //_async,
            success: function (result) {
                //   ss.show();
                //     ss.text("Your password changed sccessfully ");
                debugger;
                $(updateButton).show();
                spinner.removeClass("spinner-border");
                setTimeout(function () {
                    location.reload();
                }, 1000);

            }
        });
    }

    localStorage.setItem("isFormValid", "valid");
    $("#NewPassword").keyup(function (eventObject) {
        //debugger;

        var val = $(this).val();// + eventObject.key;
        var parentdiv = $(this).parent();
        var errormessage = $(".errormessage1");

        var a = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+){8,}$/;
        var res1 = a.test(val);
        if (!res1) {
            errormessage.text("Password must be 8 characters min,and aphanumeric");
            parentdiv.addClass("error");
            parentdiv.addClass("focused");
            localStorage.setItem("isFormValid", "invalid");
            parentdiv.removeClass("success");
        } else {
            errormessage.text("");
            localStorage.setItem("isFormValid", "valid");
            parentdiv.removeClass("error");
            parentdiv.addClass("success");
        }

        //val = val.toUpperCase();
        //var regexp1 = /^[A-Z0-9 ]*$/;
        //var regexp2 = /^[A-Za-z0-9 ]$/;
        //if (regexp1.test(val) && regexp2.test(eventObject.key)) {
        //    $(this).val(val);
        //}

        //return false;
    });


    $("#NewPasswordConfirm").keyup(function (eventObject) {
        //debugger;
        var val = $(this).val();// + eventObject.key;
        var parentdiv = $(this).parent();
        var errormessage = $(".errormessage2");
        var a = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+){8,}$/;
        var res1 = a.test(val);
        if (!res1) {
            errormessage.text("Password must be 8 characters min,and aphanumeric");
            parentdiv.addClass("error");
            parentdiv.addClass("focused");
            localStorage.setItem("isFormValid", "invalid");

            parentdiv.removeClass("success");
        } else {
            errormessage.text("");
            parentdiv.removeClass("error");
            localStorage.setItem("isFormValid", "valid");

            parentdiv.addClass("success");
        }
    });


    function validatenewpasword() {
        debugger;
        var b;
        var a = $('#NewPassword');
        //div section
        b = a.parent();
        var a = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;
        var res1 = a.test("Test@123");
        if (!res1) {

            b.addClass("error");
            b.addClass("focused");
        } else {
            b.removeClass("error");
            b.removeClass("focused");
        }
    }

    function changepassword(event) {
        debugger;

        var ss = $(".alert-success");
        var email = $("#UserName").val();
        var newpassword = $("#NewPassword").val();
        var confirmpassword = $("#NewPasswordConfirm").val();
        if (newpassword != confirmpassword) {
            ss.show();
            ss.text("Check your passwords again. ");
            return;
        }

        var isvalid = localStorage.getItem("isFormValid");
        if (isvalid != "valid") {
            ss.show();
            ss.text("Check your passwords again. ");
            return;
        }
        else {
            ss.hide();
        }
        $.ajax({

            url: "/users/ChangePassword",
            type: "POST",
            // datatype: "json",
            /// traditional: true,
            //contentType: "application/json; charset=utf-8",
            data: { 'email': email, 'newpassword': newpassword },
            //dataType: "json",
            //async: false, //_async,
            success: function (result) {
                ss.show();
                ss.text("Your password changed sccessfully ");
                setTimeout(function () {
                    location.reload();
                }, 1000);

            }
        });
    }
</script>