﻿@model BOL.Models.DeliverySchedule
@using BOL.Models
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listofMonths = new List<Months>();
    listofMonths.Add(new Months { MonthID = 1, MonthName = "January" });
    listofMonths.Add(new Months { MonthID = 2, MonthName = "Feburay" });
    listofMonths.Add(new Months { MonthID = 3, MonthName = "March" });
    listofMonths.Add(new Months { MonthID = 4, MonthName = "April" });
    listofMonths.Add(new Months { MonthID = 5, MonthName = "May" });
    listofMonths.Add(new Months { MonthID = 6, MonthName = "June" });
    listofMonths.Add(new Months { MonthID = 7, MonthName = "July" });
    listofMonths.Add(new Months { MonthID = 8, MonthName = "August" });
    listofMonths.Add(new Months { MonthID = 9, MonthName = "September" });
    listofMonths.Add(new Months { MonthID = 10, MonthName = "October" });
    listofMonths.Add(new Months { MonthID = 11, MonthName = "November" });
    listofMonths.Add(new Months { MonthID = 12, MonthName = "December" });

}

<h1>Create</h1>

<h4>DeliverySchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Month" class="control-label">Month</label>
                <select class="form-control" asp-for="Month">
                    @{
                        foreach (var item in listofMonths)
                        {
                            <option value="@item.MonthID">@item.MonthName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Year</label>
                <select class="form-control" asp-for="Year">
                    @{ var currentYear = DateTime.Now.Year; }
                    @{
                        for (var i = currentYear; i < 2090; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn send" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

