﻿@model BOL.Models.DeliveryScheduleDetails
@using BOL.Models;

@{
    ViewData["Title"] = "CreateRushOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listofMonths = new List<Months>();
    listofMonths.Add(new Months { MonthID = 1, MonthName = "January" });
    listofMonths.Add(new Months { MonthID = 2, MonthName = "Feburay" });
    listofMonths.Add(new Months { MonthID = 3, MonthName = "March" });
    listofMonths.Add(new Months { MonthID = 4, MonthName = "April" });
    listofMonths.Add(new Months { MonthID = 5, MonthName = "May" });
    listofMonths.Add(new Months { MonthID = 6, MonthName = "June" });
    listofMonths.Add(new Months { MonthID = 7, MonthName = "July" });
    listofMonths.Add(new Months { MonthID = 8, MonthName = "August" });
    listofMonths.Add(new Months { MonthID = 9, MonthName = "September" });
    listofMonths.Add(new Months { MonthID = 10, MonthName = "October" });
    listofMonths.Add(new Months { MonthID = 11, MonthName = "November" });
    listofMonths.Add(new Months { MonthID = 12, MonthName = "December" });

}

<h1>CreateRushOrder</h1>

<h4>DeliveryScheduleDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRushOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label">Customer Name</label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"> </select>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryScheduleID" class="control-label">Delivery Schedule For</label>
                <select asp-for="DeliveryScheduleID" class ="form-control" asp-items="ViewBag.DeliveryScheduleID"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Day" class="control-label">Delivery Day</label>
                <input asp-for="Day" class="form-control" value="@DateTime.Now.Day" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Month" class="control-label">Delivery Month</label>
                <select class="form-control" asp-for="Month">
                    @{
                        foreach (var item in listofMonths)
                        {
                            <option value="@item.MonthID">@item.MonthName</option>
                        }
                    }
                </select>
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control"  />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfBottles" class="control-label"></label>
                <input asp-for="NoOfBottles" class="form-control" value="1" />
                <span asp-validation-for="NoOfBottles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

