﻿@model Deosai.Models.ViewModels.DeliveryScheduleVM
@using System.Globalization;


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> DeliverySchedule Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryScheduleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryScheduleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
               Area Name
            </th>
            <th>
                Assigned Driver Name)
            </th>
            <th>
               IsActive?
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Areas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedDriverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.AreaID">Details</a>*@
                    <a href="@Url.Action("ByAreaDetail", "DeliverySchedules", new { id = Model.DeliveryScheduleID, areaId = item.AreaID })">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>







@*<div>
    <a asp-action="Edit" asp-route-id="@Model.DeliveryScheduleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
<script>

    $(document).ready(function () {
        $('[data-toggle="toggle"]').change(function () {
            $(this).parents().next('.hide').toggle();
        });
    });

</script>