﻿@model IEnumerable<BOL.Models.DeliverySchedule>
@using System.Globalization;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create" class="ui-button" style="margin:10px">Create New</a>
    <a asp-action="CreateRushOrder" class="ui-button" style="margin:10px">Add Rush Order</a>
</p>

<table class="table">
    
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryScheduleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </>
    <tbody>
        @{ var index = 0; }
        @foreach (var item in Model)
        {
            ++index;
            var colors = index % 2 == 0 ? "#fff" : "aqua";
            <tr style="background-color:@colors">
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryScheduleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    <a asp-action="Edit"  asp-route-id="@item.DeliveryScheduleID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DeliveryScheduleID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DeliveryScheduleID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
