﻿@model IEnumerable<BLL.ViewModels.FAQsBusinessModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="~/js/ajaxRequests.js"></script>
    <script src="~/js/Areas.js" type="text/javascript"></script>
}


<div class="chance"></div>
<!-- end of chance -->
<section class="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 si-box-padding">
                <!-- ================================
                   breadcrumbs
                   ================================-->
                <section class="common-head-wrapper-sm clearfix">
                    <div class="wrapper-head">
                        <h4><i class="glyphicon glyphicon-user"></i><span>FAQs LIST</span></h4>
                    </div>
                    <!-- end of wrapper-head -->
                    <div class="bread-crumbs">
                        <ul>
                            <li><a href="/FAQs">FAQ</a></li>
                        </ul>
                    </div>
                    <!-- end of bread-crumbs -->
                </section>
                <!-- end of common-head-wrapper-sm -->
                <!-- ================================
                   merchant-table
                   ================================-->
                <section class="merchant-table">
                    <div class="border-table">
                        <div class="table-head clearfix">
                            @*<p class="pull-left">USERS List</p>*@
                            @*<a class="btn sm-custom-btn pull-right search-btn-offset"><i class="ti-search"></i></a>*@
                            <a asp-action="Create" class="btn sm-custom-btn pull-right">Add FAQ</a>
                            @* <a asp-action="BulkAddCustomer" asp-controller="users" class="btn sm-custom-btn pull-right">Bulk Add Users</a>*@
                            @*<div class="col-md-4">
                                    <select id="ddlRoles" name="ddlRoles" asp-items="ViewBag.RoleName"
                                            style="width: 100%; height: 32px;margin-top:1%; border: 1px solid #d5d5d5; padding: 2px; font-size: 13px; border-radius: 2px;"></select>
                                </div>*@

                        </div>
                        <!-- end of table-head -->
                        <div class="table-responsive">
                            <table class="table sm-custom-table" id="grid_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><input type="checkbox" id="checkall" onclick="ToggleChecked()" /></th>
                                        <th>
                                            Question
                                        </th>
                                        <th>
                                            Answer
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.IsActive)
                                        </th>

                                        <th class="action-td">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var index = 0; }
                                    @foreach (var item in Model)
                                    {

                                        ++index;
                                        <tr>
                                            <td>@index</td>
                                            <td>
                                                <input id="@item.FAQsId"
                                                       type="checkbox" class="chkboxes" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Question)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Answer)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsActive)
                                            </td>

                                            <td style="width:9%" class="action-center action-td">
                                                <a asp-action="Edit" asp-route-id="@item.FAQsId" class="edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.FAQsId" class="delete"><i class="glyphicon glyphicon-trash"></i></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- end of sm-custom-table -->
                        </div>
                        <!-- end of table-responsive -->
                    </div>
                    <!-- end of border-table -->

                    <div id="paginationDiv">
                        @Html.Raw(ViewBag.Paging)
                    </div>

                    <!-- end of pagination -->
                </section>
                <!-- end of merchant-table -->
            </div>
            <!-- end of col-md-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</section>

<!--==============================
        Search wrapper
        ==============================-->
