﻿@model IEnumerable<BLL.ViewModels.FAQsBusinessModel>
@{
    ViewData["Title"] = "TopQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>
<div class="align-items-center mt-5 text-center mb-5">
    <h4><b>FREQUENTLY ASKED QUESTIONS (FAQs)</b></h4>
    <h6>Getting a loan with Fintech is something we want to simplify for all our potential clients</h6>
    <h6>To that end, we have gathered most frequently asked questions and provided the answers here for you</h6>
</div>

@{ var qno = 0;}
@foreach (var item in Model)
{
    ++qno;
    <div class="row mt-2">
        <div class="col-md-12 justify-content-center">
            <div style="border-top-left-radius: 5px; border-top-right-radius: 5px; border: 1px solid #cccccc">
                <button class="accordion"><b>Q.@qno:  @item.Question</b> </button>
                <div class="panel pt-2 pb-2" style="display:block;">
                    <span style="font-size:13px" >
                        @item.Answer
                    </span>
                </div>
            </div>

        </div>

    </div>
}


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>