﻿@model BLL.ViewModels.LoanRequestBusinessModel

@{
    ViewData["Title"] = "ApplyForLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Register No</h2>
            <p>Enter Your Detail Here</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-3">



            </div>

            <div class="col-lg-6">
                <form asp-action="ApplyForLoan" enctype="multipart/form-data">
                    <div class="row gy-4">

                        <div class="col-md-12">
                            <label>Name :</label>
                            <input asp-for="LoanRequeteeName" class="form-control" placeholder="Your  Name" required>
                        </div>

                        <div class="col-md-12">
                            <label>Contact No :</label>
                            <input asp-for="LoanRequesteeContactNo" class="form-control" placeholder="Your Contact No" required>
                        </div>

                        <div class="col-md-12 ">
                            <label>Email :</label>
                            <input class="form-control" asp-for="LoanRequesteeEmail" placeholder="Your Email" required>
                        </div>
                        <div class="col-md-12">
                            <label>Package :</label>
                            <select asp-for="FkLoanServiceId" style="width: 100%; height: 45px; border: 1px solid #d5d5d5;
                            padding: 2px; font-size: 14px; border-radius: 1px;padding-left:10px;color:gray;" asp-items="ViewBag.FkLoanServiceId">

                                <option value="0">Select A Package </option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label>Loan Amount :</label>
                            <input asp-for="LoanRequestAmount" class="form-control" placeholder="Loan Amount" required>
                        </div>

                        <div class="col-md-12">
                                <label>Upload Documents</label>
                                <input asp-for="UploadedImage" style="padding:5px;padding-left:0px; width:100%" class="form-control-file" multiple="multiple" type="file" placeholder="Enter the currency">
                        </div>
                        <div class="col-md-12">
                            <label>Additional Comments :</label>
                            <textarea class="form-control" asp-for="AdditionalComments" rows="6" placeholder="Add Comments" ></textarea>
                        </div>


                        <div class="col-md-12 text-center">


                            <button class="btn btn-outline-info" type="submit">Apply</button>
                        </div>
                        <div class="col-md-12 text-center">

                            <span style="font-size:12px;color:red" class="error-message">@ViewBag.message</span>

                        </div>

                    </div>
                </form>

            </div>

            <div class="col-lg-3">



            </div>

        </div>

    </div>

</section>

