﻿@model BOL.Models.ContactUs
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-6">

                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Address</h3>
                            <p>A108 Adam Street,<br>New York, NY 535022</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-telephone"></i>
                            <h3>Call Us</h3>
                            <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-envelope"></i>
                            <h3>Email Us</h3>
                            <p>info@example.com<br>contact@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-clock"></i>
                            <h3>Open Hours</h3>
                            <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form asp-action="ContactUs">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" asp-for="Name" class="form-control" placeholder="Full Name" required>
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" asp-for="Email"  placeholder="Email Address" required>
                        </div>

                        <div class="col-md-6">
                            <input type="text" class="form-control" asp-for="ContactNo"  placeholder="Contact Number" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" asp-for="CompanyName"  placeholder="Company Name" required>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" asp-for="Message"  rows="6" placeholder="Enquiries/Questions" required></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="sent-message alert-success mb-3">@ViewBag.Message</div>

                            <button class="btn btn-outline-success"  type="submit">Get In Touch</button>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>

</section>

