﻿@model IEnumerable<BOL.Models.LoanService>
@using Microsoft.AspNetCore.Identity
@using BOL.Models;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    var currentuser = await UserManager.GetUserAsync(User);
    var name = "";
    var rolename = "";
    var userid = 0;
    if (currentuser != null)
    {
        name = currentuser.FullName;
        rolename = currentuser.RoleName;
        userid = currentuser.Id;
    }
    //var userinfo = dbContext.UserInfos.FirstOrDefault(aa => aa.UserAuthID == currentuser.Id);

    ////int userid = userinfo == null ? 0 : userinfo.ID;

    //var isHandyWebUser = await UserManager.IsInRoleAsync(currentuser, "HandyWebUser");
    //var isadmin = await UserManager.IsInRoleAsync(currentuser, "Admin");
    var issignin = SignInManager.IsSignedIn(User);
    var colorArr = new List<string> { "#07d5c0", "#65c600", "#ff901c", "#ff0071" };

}

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    ViewData["ShowSlider"] = "false";
    ViewData["ShowBread"] = "false";
}
<!--<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="index.html">Home</a></li>
            <li>Inner Page</li>
        </ol>
        <h2>Inner Page</h2>

    </div>
</section>-->
<!-- End Breadcrumbs -->
<style>
    body {
        margin: 20px;
    }

    .text32 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>
<section id="values" class="values">

    <input type="hidden" id="userid" value="@userid" />
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="box" data-aos="fade-up" data-aos-delay="200">

                    <h3>Apply for lowest interest business loan</h3>
                    <p>Get Approved in less than one hour.</p>

                    <select style="width: 100%; height: 40px; border: 1px solid #d5d5d5;
                            padding: 2px; font-size: 13px; border-radius: 4px;padding-left:10px;"
                            id="ddl_loanservice" asp-items="ViewBag.LoanServices">
                        <option value="0">Select A Package</option>
                    </select>

                    <button onclick="btnProceedClick();" class="btn-buy btn-outline-danger mt-2 btn">Proceed</button>
                </div>

            </div>

            <div class="col-lg-4"></div>

        </div>

    </div>

</section><
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Pricing</h2>
            <p>Check our Pricing</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">
            @{ var index = 0;}
            @foreach (var item in Model)
            {
                var headercolor = index < 4 ? colorArr[index] : colorArr[index % 4];
                ++index;
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="@(index*100)">
                    <div class="box">
                        <h3 style="color: @headercolor">@item.LoanServiceName</h3>
                        <div class="price"><sup>$</sup>@item.MaxLoanAmount<span> @*/ mo*@</span></div>
                        <div style="border:solid 0px black; height:100px">
                            <img src="@item.ImageUrl" class="img-fluid" style="height:100%;padding:0px" alt="">
                        </div>
                        <ul style="margin-top:10%">
                            <li>@item.LoanType.LoanTypeName</li>
                            <li>@item.ServiceCategory.ServiceCategoryName</li>
                            <li class="text32">@item.LoanServiceDescription</li>
                            @*<li class="na">Pharetra massa</li>
                            <li class="na">Massa ultricies mi</li>*@
                        </ul>
                        <a href="/Home/ApplyForLoan?selectedService=@item.LoanServiceID" class="btn-buy">Apply Now</a>
                    </div>
                </div>
            }

        </div>

    </div>

</section><!-- End Pricing Section -->
<!-- end map -->
<!--  footer -->
<script src="~/assets/js/jquery.min.js"></script>
<script>
    function btnProceedClick() {

        var selectedpackage = $('#ddl_loanservice').val();
        var userid = $('#userid').val();
        if (selectedpackage == 0) {
            alert('Please Select a package and then proceed!.');
            return;
        }
        if (userid == 0) {
            window.location.href = "/Home/SignIn?selectedServiceId=" + selectedpackage;
        } else {
            if (selectedpackage == 0) {
                alert('Please Select a package and then proceed!.')
            }
            else {
                window.location.href = "/Home/ApplyForLoan?selectedService=" + selectedpackage;
            }

        }
    }
</script>