﻿@model LMS_Web.Models.Logins
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model.SelecteServiceId;
}

<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Sign In Here</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-4">



            </div>

            <div class="col-lg-4">
                <form asp-action="SignIn">
                    <div class="row gy-4">

                        <input type="hidden" asp-for="SelecteServiceId"/>
                        <div class="col-md-12 ">
                            <input  class="form-control" asp-for="UserName" placeholder="Your Email" required>
                        </div>

                        <div class="col-md-12">
                            <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
                        </div>

                        <div class="sign-btn-wrapper text-center">
                            <a href="/Home/Signup?selectedServiceId=@id"><span>Dont have an account? </span>Sign Up Now</a>
                        </div>


                        <div class="col-md-12 text-center">


                            <button class="getstarted scrollto btn btn-outline-info" type="submit">Sign IN</button>
                        </div>

                        <div class="col-md-12 text-center">

                            <span style="font-size:12px;color:red" class="error-message">@ViewBag.message</span>

                        </div>
                    </div>
                </form>

            </div>

            <div class="col-lg-4">



            </div>

        </div>

    </div>

</section>

