﻿@model LMS_Web.Models.SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "_Layout";
}

<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Register No</h2>
            <p>Enter Your Detail Here</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-3">



            </div>

            <div class="col-lg-6">
                <form asp-action="SignUp">
                    <div class="row gy-4">
                        <input type="hidden" asp-for="SelecteServiceId" />
                        <div class="col-md-12">
                            <input asp-for="FirstName" class="form-control" placeholder="Your First Name" required>
                        </div>

                        <div class="col-md-12">
                            <input name="name" asp-for="LastName" class="form-control" placeholder="Your Last Name" required>
                        </div>

                        <div class="col-md-12 ">
                            <input class="form-control" asp-for="Email" placeholder="Your Email" required>
                        </div>

                        <div class="col-md-12">
                            <input asp-for="Password" class="form-control" placeholder="Password" required>
                        </div>

                        <div class="sign-btn-wrapper text-center">
                            <a href="/Home/SignIn?selectedServiceId=@Model.SelecteServiceId"><span>Already A member? </span>Log In Now</a>
                        </div>

                        <div class="col-md-12 text-center">
                   

                            <button class="btn btn-outline-info" type="submit">Sign Up</button>
                        </div>

                    </div>
                </form>

            </div>

            <div class="col-lg-3">



            </div>

        </div>

    </div>

</section>