﻿@model BLL.ViewModels.AreaBusinessModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    var errors = ViewData["Errors"] as string;
}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>





<div class="chance"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 si-box-padding">
            <!-------------- common-head-wrapper-sm -------------->
            <section class="common-head-wrapper-sm clearfix">
                <div class="wrapper-head">
                    <h4><i class="glyphicon glyphicon-user"></i><span>AREA</span></h4>
                </div>
                <!-- end of wrapper-head -->
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="/Dashboard">Dashboard</a></li>
                        <li><a href="/Areas">Area</a></li>
                        <li><a href="/Areas/Create">Add Area</a></li>
                    </ul>
                </div>
                <!-- end of bread-crumbs -->
            </section>
            <!-- end of common-head-wrapper-sm -->
            <!-------------- progress-step -------------->
            <div class="progress-step clearfix">
                <div class="progress_inner">
                    <!-- end of step-tab -->
                    <input checked='checked' id="step-1" name="step" type="radio">
                    <input id="step-2" name="step" type="radio">
                    <input id="step-3" name="step" type="radio">
                    <input id="step-4" name="step" type="radio">
                    <input id="step-5" name="step" type="radio">
                    <div class="progress_inner__bar"></div>
                    <div class="progress_inner__bar--set"></div>
                    <!-------------- progress_inner__tabs -------------->
                    <div class='progress_inner__tabs'>
                        <div class='tab tab-0 white-smooth-wrapper'>
                            @if (!string.IsNullOrEmpty(errors))
                            {
                                <span style="
                                color: red;
                                font-size: 12px;
                                padding: 10px;
                                margin: 10px;
                                margin-bottom: 20px;
                                text-align:right;"> @errors</span>
                            }
                            <!-------------- Merchant -------------->
                            <div class="wrapper-head semi-head-border">
                                <h4>ADD DETAIL HERE</h4>
                            </div>
                            <div class="organization-form">

                                <form name="userform" asp-action="Create" enctype="multipart/form-data">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="AreaName" class="control-label"></label>
                                                <input asp-for="AreaName" class="form-control" />
                                                <span asp-validation-for="AreaName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="input-wrapper-sm">
                                                <label asp-for="IsActive" class="control-label"></label>
                                                <input asp-for="IsActive" class="form-control" />
                                            </div>
                                        </div>
                                        <!-- end of col-md-4 -->
                                        <!-- end of col-md-4 -->
                                        <!-- end of col-md-12 -->


                                    </div>
                                    <div class="form-footer clearfix">
                                        <button id="btnCreateUser" type="submit" class="btn sm-custom-btn sm-save-btn pull-right">Save</button>
                                        <a href="#" class="btn sm-custom-btn pull-right">Clear</a>
                                    </div>
                                </form>

                                <!-- end of row -->
                            </div>
                            <!-- end of organization-form -->
                            <!-------------- Address line -------------->
                            <!-- end of organization-form -->
                            <!-- end of form-footer -->
                        </div>
                        <!-- end of white-smooth-wrapper -->
                        <!----------------configuration---------------->

                    </div>
                    <!-- end of progress_inner__tabs -->
                </div>
                <!-- end of progress_inner -->
            </div>
            <!-- end of progress-step -->
        </div>
        <!-- end of col-md-12 -->
    </div>
    <!-- end of row -->
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

