﻿@model BLL.ViewModels.PaginatedList<BLL.ViewModels.AreaBusinessModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="~/js/ajaxRequests.js"></script>
    <script src="~/js/Areas.js" type="text/javascript"></script>
}


<div class="chance"></div>
<!-- end of chance -->
<section class="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 si-box-padding">
                <!-- ================================
                   breadcrumbs
                   ================================-->
                <section class="common-head-wrapper-sm clearfix">
                    <div class="wrapper-head">
                        <h4><i class="glyphicon glyphicon-user"></i><span>AREA LIST</span></h4>
                    </div>
                    <!-- end of wrapper-head -->
                    <div class="bread-crumbs">
                        <ul>
                            <li><a href="/Areas">Area</a></li>
                        </ul>
                    </div>
                    <!-- end of bread-crumbs -->
                </section>
                <!-- end of common-head-wrapper-sm -->
                <!-- ================================
                   merchant-table
                   ================================-->
                <section class="merchant-table">
                    <div class="border-table">
                        <div class="table-head clearfix">
                            @*<p class="pull-left">USERS List</p>*@
                            <a class="btn sm-custom-btn pull-right search-btn-offset"><i class="ti-search"></i></a>
                            <a asp-action="Create" class="btn sm-custom-btn pull-right">Add Area</a>
                            @* <a asp-action="BulkAddCustomer" asp-controller="users" class="btn sm-custom-btn pull-right">Bulk Add Users</a>*@
                            @*<div class="col-md-4">
                                    <select id="ddlRoles" name="ddlRoles" asp-items="ViewBag.RoleName"
                                            style="width: 100%; height: 32px;margin-top:1%; border: 1px solid #d5d5d5; padding: 2px; font-size: 13px; border-radius: 2px;"></select>
                                </div>*@

                        </div>
                        <!-- end of table-head -->
                        <div class="table-responsive">
                            <table class="table sm-custom-table" id="grid_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><input type="checkbox" id="checkall" onclick="ToggleChecked()" /></th>
                                        <th>
                                            Area ID
                                        </th>
                                        <th>
                                            AssignedDriverName
                                        </th>
                                        <th>
                                            No Of Customers
                                        </th>
                                        <th>
                                            Active?
                                        </th>
                                        <th class="action-td">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var index3 = 0; }
                                    @foreach (var item in Model)
                                    {

                                        ++index3;
                                        <tr>
                                            <td>@index3</td>
                                            <td>
                                                <input id="@item.AreaID"
                                                       type="checkbox" class="chkboxes" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AreaName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssignedDriverName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NoOfCusotomers)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsActive)
                                            </td>
                                            <td style="width:9%" class="action-center action-td">
                                                <a asp-action="Details" asp-route-id="@item.AreaID" class="edit"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a asp-action="Edit" asp-route-id="@item.AreaID" class="edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.AreaID" class="delete"><i class="glyphicon glyphicon-trash"></i></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- end of sm-custom-table -->
                        </div>
                        <!-- end of table-responsive -->
                    </div>
                    <!-- end of border-table -->

                    <div id="paginationDiv">
                        @Html.Raw(ViewBag.Paging)
                    </div>

                    <!-- end of pagination -->
                </section>
                <!-- end of merchant-table -->
            </div>
            <!-- end of col-md-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</section>

<!--==============================
        Search wrapper
        ==============================-->
<section class="search-wrapper-side">
    <div class="search-wrapper-in">
        <a class="close-btn-sm"><i class="ti-close"></i></a>
        <h3>Search here !</h3>
        <div class="input-wrapper-sm">
            <label>Search Keyword</label>
            <input type="text" name="m_code" id="search_txt" placeholder="Search Keyword">
        </div>
        <!-- end of input-wrapper-sm -->
        <div class="input-wrapper-sm">
            <label>Search IN</label>
            @Html.DropDownList("SearchIn", new List<SelectListItem>
                       {
                       new SelectListItem{ Text = "Customer Name", Value = "1" },
                       new SelectListItem{ Text = "Customer ID", Value = "2" },
                       }, new { style = "width: 100%;height: 32px; border: 1px solid #d5d5d5;padding: 2px; font-size: 13px;border-radius: 2px;" })
        </div>
        <!-- end of input-wrapper-sm -->
        @*<div class="input-wrapper-sm">
                <label>Boarding Date</label>
                <input type="text" name="b_date" placeholder="Boarding Date">
            </div>*@
        <!-- end of input-wrapper-sm -->
        @*<div class="input-wrapper-sm">
                <label>Region</label>
                <input type="text" name="region" placeholder="Region">
            </div>*@
        <!-- end of input-wrapper-sm -->
        @*<div class="input-wrapper-sm">
                <label>Status</label>
                <input type="text" name="status" placeholder="Status">
            </div>*@
        <!-- end of input-wrapper-sm -->
        <div class="input-wrapper-sm">
            <button onclick="onCLickResetUserSearch();" id="resetButoon" value="isFingerPrint" class="btn sm-custom-btn">Clear</button>
        </div>
        <!-- end of input-wrapper-sm -->
        <div class="input-wrapper-sm">
            <button id="searchBtn" value="isFingerPrint" class="btn sm-save-btn">Search</button>
        </div>
        <!-- end of input-wrapper-sm -->
    </div>
    <!-- end of search-wrapper-in -->
</section>