﻿@using Microsoft.AspNetCore.Identity
@using BOL.Models;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    var currentuser = await UserManager.GetUserAsync(User);
    var name = "";
    var rolename = "";
    var userid = 0;
    if (currentuser != null)
    {
        name = currentuser.FullName;
        rolename = currentuser.RoleName;
        userid = currentuser.Id;
    }
    //var userinfo = dbContext.UserInfos.FirstOrDefault(aa => aa.UserAuthID == currentuser.Id);

    ////int userid = userinfo == null ? 0 : userinfo.ID;

    //var isHandyWebUser = await UserManager.IsInRoleAsync(currentuser, "HandyWebUser");
    //var isadmin = await UserManager.IsInRoleAsync(currentuser, "Admin");
    var issignin =  SignInManager.IsSignedIn(User);

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - Fintech </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/LoanUI/assets/img/favicon.png" rel="icon">
    <link href="~/LoanUI/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/LoanUI/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/LoanUI/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/LoanUI/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/LoanUI/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/LoanUI/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/LoanUI/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/LoanUI/assets/css/style.css" rel="stylesheet">

   
</head>

<body>

    <!-- ======= Header ======= -->

    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <img src="~/LoanUI/assets/img/logo.png" alt="">
                <span>Fintech</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="/Home/ApplyForLoan">Apply for Loan</a></li>
                    <li><a class="nav-link scrollto" href="/Home/ContactUs">Conatact Us</a></li>
                    <li><a class="nav-link scrollto" href="/FAQs/MostRelavant">FAQ</a></li>


                    @*<li class="dropdown">
            <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown">
                    <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
            </ul>
        </li>*@
                    @if (issignin)
                    {
                        <li class="dropdown">
                            <a href="#"><span>Loan Details</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="/LoanRequests/PendingLoans/@userid">Pending Loans</a></li>
                                <li><a href="/LoanRequests/LoanHistory/@userid">Loan History</a></li>
                            </ul>
                        </li>
                        <li><a class="getstarted scrollto" href="/Home/SignOut">Sign Out</a></li>
                    }
                    else
                    {
                        <li><a class="getstarted scrollto" href="/Home/SignIn">Sign In</a></li>
                    }
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    @if (ViewData["ShowSlider"] != null && ViewData["ShowSlider"].ToString() == "true")
    {
        <section id="hero" class="hero d-flex align-items-center">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">We offer modern solutions for growing your business</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with Bootstrap</h2>
                        <div data-aos="fade-up" data-aos-delay="600">
                            <div class="text-center text-lg-start">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                        <img src="~/LoanUI/assets/img/hero-img.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section><!-- End Hero -->
    }
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="inner-page">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </section>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="index.html" class="logo d-flex align-items-center">
                            <img src="~/LoanUI/assets/img/logo.png" alt="">
                            <span>FlexStart</span>
                        </a>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/LoanUI/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/LoanUI/assets/vendor/aos/aos.js"></script>
    <script src="~/LoanUI/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/LoanUI/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/LoanUI/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/LoanUI/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/LoanUI/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <!-- Template Main JS File -->
    <script src="~/LoanUI/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>



