﻿@using Microsoft.AspNetCore.Identity
@using BOL.Models;
@inject UserManager<ApplicationUser> UserManager
@{
    var currentuser = await UserManager.GetUserAsync(User);
    var name = "";
    var rolename = "";
    if(currentuser != null)
    {
        name = currentuser.FullName;
        rolename = currentuser.RoleName;
    }
    //var userinfo = dbContext.UserInfos.FirstOrDefault(aa => aa.UserAuthID == currentuser.Id);

    ////int userid = userinfo == null ? 0 : userinfo.ID;

    //var isHandyWebUser = await UserManager.IsInRoleAsync(currentuser, "HandyWebUser");
    //var isadmin = await UserManager.IsInRoleAsync(currentuser, "Admin");
    //var issignin = SignInManager.IsSignedIn(User);

}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- themify css -->
    <link rel="stylesheet" type="text/css" href="~/SuperAdminAssets/plugins/themify/themify-icons.css">
    <!-- mCustomScrollbar css -->
    <link rel="stylesheet" type="text/css" href="~/SuperAdminAssets/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css">
    <!-- data table -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- custom style css -->
    <link rel="stylesheet" type="text/css" href="~/SuperAdminAssets/assets/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Demo styles -->
</head>
<body>
    <!-- ================================
       header
       ================================-->
    <header>
        <div class="main-header-wrapper">
            <div class="container">
                <div class="row">
                    <a asp-action="index" asp-controller="Dashboard" class="col-xs-6 si-box-padding">
                        <h3>Fintech<span>Admin</span>.</h3>
                    </a>
                    <!-- end of col-xs-6 -->
                    <div class="col-xs-6 si-box-padding">
                        <div class="admin-user-wrapper clearfix">
                            <div class="user-img">
                                <img src="~/SuperAdminAssets/images/author.png" class="img-responsive" alt="">
                            </div>
                            <!-- end of user-img -->
                            <div class="user-name btn-group">
                                <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @name
                                    <span>@rolename</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right logout-drop">
                                    <li><a href="/Home/SignOut"><i class="ti-power-off"></i><span>Logout</span></a></li>
                                    <li><a href="profile.html"><i class="ti-user"></i><span>Profile</span></a></li>
                                    <li><a href="#"><i class="ti-settings"></i><span>Settings</span></a></li>
                                </ul>
                                <!-- end of dropdown-menu -->
                            </div>
                            <!-- end of user-name -->
                        </div>
                        <!-- end of admin-user-wrapper -->
                    </div>
                    <!-- end of col-xs-6 -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of container -->
        </div>
        <!-- end of main-header-wrapper -->
        <div class="menu-list">
            <nav class="navbar navbar-default menu-white-wrapper">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <!-- search-wrapper-head -->
                        <div class="search-wrapper-head search-nav-left clearfix visible-xs">
                            <div class="search-input-wrapper">
                                <input type="text" name="search" placeholder="Search here...">
                            </div>
                            <div class="search-icon-wrapper">
                                <a href="#"><i class="ti-search"></i></a>
                            </div>
                        </div>
                        <!-- end of search wrapper-head -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- end of navbar-header -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div class="row sec-cx">
                            <div class="col-md-12 si-box-padding">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="/Dashboard/Index2"><i class="glyphicon glyphicon-th-large"></i>Dashboard</a></li>
                                    <li><a href="/Users"><i class="glyphicon glyphicon-user"></i>Users</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">
                                            <i class="glyphicon glyphicon glyphicon-road"></i>Loan<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/LoanRequests/LoanRequests">Loan Request</a></li>
                                            <li><a href="/LoanRequests">Loan History</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">
                                            <i class="glyphicon glyphicon glyphicon-road"></i>Services<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/LoanService/Create">Create New</a></li>
                                            <li><a href="/LoanService">View Existing</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/FAQs"><i class="glyphicon glyphicon-user"></i>FAQs</a></li>

                                    <!-- end of dropdown -->
                                    <!--<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">
        <i class="glyphicon glyphicon glyphicon-shopping-cart"></i>Deliveries<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/DeliverySchedules">Delivery Schedule</a></li>
        <li><a href="/DeliverySchedules/TodaysDeliveries">Todays Deliveries</a></li>
        <li><a href="/CustomersInAreaDeliveryOrders">Delivery Order</a></li>
    </ul>-->
                                    <!-- end of dropdown-menu -->
                                    <!--</li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon glyphicon-bullhorn"></i>Reporting<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Reporting">Delivery Reports</a></li>
            <li><a href="/DriverTracking">Track Drivers</a></li>
        </ul>-->
                                    <!-- end of dropdown-menu -->
                                    <!--</li>

    <li><a href="/OfficeLocationAndDetails"><i class="glyphicon glyphicon-user"></i>Office Location</a></li>-->
                                    <!-- end of dropdown -->
                                </ul>
                                <!-- end of navbar-nav -->
                                <!-- search box -->
                                <div class="search-wrapper-head clearfix hidden-xs">
                                    <div class="search-input-wrapper">
                                        <input type="text" name="search" placeholder="Search here...">
                                    </div>
                                    <!-- end of search-input-wrapper -->
                                    <div class="search-icon-wrapper">
                                        <a href="#"><i class="ti-search"></i></a>
                                    </div>
                                    <!-- end of search-icon-wrapper -->
                                </div>
                                <!-- end of search-wrapper-head -->
                            </div>
                            <!-- end of col-md-12 -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- end of navbar -->
        </div>
        <!-- end of menu-list -->
    </header>
    <!-- end of header -->
    <!-- ================================
       content-outer-wrapper
       ================================-->
    <div class="content-outer-wrapper">
        @RenderBody()

    </div>
    <!-- end of content-outer-wrapper -->
    <!--==============================
       footer
       ==============================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright &copy; 2019 <a href="templatshub.net">Templates Hub</a>.</p>
                </div>
                <div class="col-sm-6">
                    <ul class="footer-list">
                        <li><a href="#">Merchant</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Home</a></li>
                    </ul>
                    <!-- end of footer-list -->
                </div>
                <!-- end of col-md-4 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </footer>
    <!-- end of footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Plugins, then Custom js -->
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- mCustomScrollbar css -->
    <script type="text/javascript" src="~/SuperAdminAssets/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
    <!-- apexcharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- datatable -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Custom js -->
    <script src="~/SuperAdminAssets/assets/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>
