﻿@model IEnumerable<BLL.ViewModels.DeliveryReportVM>

@{
    ViewData["Title"] = "AllReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TotalNoOfDeliveries = ViewData["TotalNoOfDeliveries"] == null ? 0 : ViewData["TotalNoOfDeliveries"];
    var TotalBottleDelivered = ViewData["TotalBottleDelivered"] == null ? 0 : ViewData["TotalBottleDelivered"];
    var TotalAmount = ViewData["TotalAmount"] == null ? 0 : ViewData["TotalAmount"];
    var TotalRecoverAmount = ViewData["TotalRecoverAmount"] == null ? 0 : ViewData["TotalRecoverAmount"];
    var TotalNoOfDeliveredOrders = ViewData["TotalNoOfDeliveredOrders"] == null ? 0 : ViewData["TotalNoOfDeliveredOrders"];
}

<h1>AllReports</h1>

<table border="1" cellpadding="5" style="margin:10px;margin-bottom:40px">
    <thead>
        <tr>
            <td>TotalNoOfDeliveries : @TotalNoOfDeliveries </td>
            <td>TotalBottleDelivered : @TotalBottleDelivered</td>
            <td>TotalAmount : @TotalAmount</td>
            <td>TotalRecoverAmount : @TotalRecoverAmount</td>
            <td>TotalNoOfDeliveredOrders : @TotalNoOfDeliveredOrders</td>
        </tr>
    </thead>
</table>
<table class="table" border="1">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TotalNoOfDeliveries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNoOfDeliveredOrders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRecoverAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBottleDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNoOfDeliveries)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNoOfDeliveredOrders)
                </td>
                <td>
                    @item.DeliveryDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalRecoverAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBottleDelivered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    <a href="#">Show Detail</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
