﻿@model IEnumerable<BOL.Models.DeliveryScheduleDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TotalCustomerServed = ViewData["TotalCustomerServed"] == null ? 0 : ViewData["TotalCustomerServed"];
    var TotalBottleSale = ViewData["TotalBottleSale"] == null ? 0 : ViewData["TotalBottleSale"];
    var TotalBottleAmount = ViewData["TotalBottleAmount"] == null ? 0 : ViewData["TotalBottleAmount"];
    var TotalRecoveredAmount = ViewData["TotalRecoveredAmount"] == null ? 0 : ViewData["TotalRecoveredAmount"];
}

<h2>Today Sale Report</h2>
<table border="1" cellpadding="5" style="margin:20px">
    <thead>
        <tr>
            <td>TotalCustomerServed : @TotalCustomerServed </td>
            <td>TotalBottleSale : @TotalBottleSale</td>
            <td>TotalBottleAmount : @TotalBottleAmount</td>
            <td>TotalRecoveredAmount : @TotalRecoveredAmount</td>
        </tr>
    </thead>
</table>

<a asp-controller="Reporting" asp-action="AllReports" class="ui-button">
    Show All report
</a>


<a asp-controller="Reporting" asp-action="DownloadReport"  class="ui-button">
   Download Report 
</a>
<table class="table" border="1" cellpadding="5" style="margin:10px">
    <thead>
        <tr>
            <th>
                Cutomer Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveredAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfBottles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottlePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRushCall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCancelled)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var deliverat = item.DeliveredAt == default ? "" : item.DeliveredAt.ToString("dd MMMM yyyy");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                </td>
                <td>
                    @item.DeliveryDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @deliverat
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelivered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfBottles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BottlePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRushCall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCancelled)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>
