﻿@model LMS_Web.Models.SignUpViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Deosai Admin</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- themify css -->
    <link rel="stylesheet" type="text/css" href="~/SuperAdminAssets/plugins/themify/themify-icons.css">
    <!-- custom style css -->
    <link rel="stylesheet" type="text/css" href="~/SuperAdminAssets/assets/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Demo styles -->
</head>
<body>
    <!-- ================================
       login-wrapper
       ================================-->
    <section class="login-outer-wrapper">
        <div class="login-top-bg"></div>
        <!-- end of login-top-bg -->
        <div class="login-bottom-bg"></div>
        <!-- end of login-bottom-bg -->

        <form asp-action="SignUp">
            <div class="login">
                <div class="login-head">
                    <h2>Welcome !<span>Fintech</span></h2>
                    <p>Sign up with credentials</p>

                </div>
                <!-- end of login-head -->
                <div class="login-credential-wrapper">
                    <div class="login-input-wrapper clearfix">
                        <div class="icon-box">
                            <i class="ti-email"></i>
                        </div>
                        <!-- end of icon-box -->
                        <div class="input-box">
                            <input type="text" asp-for="FirstName" placeholder="FirstName">
                        </div>
                        <!-- end of input-box -->
                    </div>
                    <!-- end of login-input-wrapper -->
                </div>
                <div class="login-credential-wrapper">
                    <div class="login-input-wrapper clearfix">
                        <div class="icon-box">
                            <i class="ti-email"></i>
                        </div>
                        <!-- end of icon-box -->
                        <div class="input-box">
                            <input type="text" asp-for="LastName" placeholder="LastName">
                        </div>
                        <!-- end of input-box -->
                    </div>
                    <!-- end of login-input-wrapper -->
                </div>
                <div class="login-credential-wrapper">
                    <div class="login-input-wrapper clearfix">
                        <div class="icon-box">
                            <i class="ti-email"></i>
                        </div>
                        <!-- end of icon-box -->
                        <div class="input-box">
                            <input type="text" asp-for="UserName" placeholder="Username">
                        </div>
                        <!-- end of input-box -->
                    </div>
                    <!-- end of login-input-wrapper -->
                </div>
                <!-- end of login-credential-wrapper -->
                <div class="login-credential-wrapper">
                    <div class="login-input-wrapper clearfix">
                        <div class="icon-box">
                            <i class="ti-lock"></i>
                        </div>
                        <!-- end of icon-box -->
                        <div class="input-box">
                            <input type="password" asp-for="Password" placeholder="password">
                        </div>
                        <!-- end of input-box -->
                    </div>
                    <!-- end of login-input-wrapper -->
                    <!--<div class="row forget-wrapper clearfix">
            <div class="col-sm-12">-->
                    @*<a href="#" class="text-center">Forgot Password ?</a>*@
                    <!--</div>-->
                    <!-- end of col-sm-12 -->
                    <!--</div>-->
                    <!-- end of forget-wrapper -->
                </div>
                <div class="sign-btn-wrapper">
                    <a href="/Admin/Login"><span>Already a member? </span>Log In</a>
                </div>
                <!-- end of login-credential-wrapper -->
                <div class="btn-wrapper-sign">
                    <button type="submit" class="btn sign-in-btn">Sign in</button>
                </div>
                <span style="font-size:12px;color:red" class="error-message">@ViewBag.message</span>

                <!-- end of btn-wrapper-sign -->
                <!-- end of sign-btn-wrapper -->
            </div>
            <!-- end of login -->
        </form>

        <div class="footer-login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2019 <a href="templatshub.net">Templates Hub</a>.</p>
                    </div>
                    <!-- end of col-md-6 -->
                    <div class="col-md-6">
                        <ul class="pull-right">
                            <li><a href="#">Smart Invoice</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- end of col-md-6 -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of container -->
        </div>
        <!-- end of footer-login -->
    </section>
    <!-- end of login-outer-wrapper -->
    <!--==============================
       footer
       ==============================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright &copy; 2019 <a href="templatshub.net">Templates Hub</a>.</p>
                </div>
                <div class="col-sm-6">
                    <ul class="footer-list">
                        <li><a href="#">Merchant</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Home</a></li>
                    </ul>
                    <!-- end of footer-list -->
                </div>
                <!-- end of col-md-4 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </footer>
    <!-- end of footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Plugins, then Custom js -->
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- apexcharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- datatable -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Custom js -->
    <script src="~/SuperAdminAssets/assets/js/custom.js"></script>
</body>

</html>