﻿@model BLL.ViewModels.LoanRequestBusinessModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<div class="modal-body">
    <dl>
        <dt><b style="width:100px;">Loan ID       </b> :   <span id="loanid" style="font-weight:lighter">@Model.LoanRequestID</span></dt>
        <dt><b style="width:100px;">Requestee Name</b> :   <span id="requestname" style="font-weight:lighter">@Model.LoanRequeteeName</span></dt>
        <dt><b style="width:100px;">Email         </b> :   <span id="email" style="font-weight:lighter">@Model.LoanRequesteeEmail</span></dt>
        <dt><b>Amount         </b> :   <span id="amount" style="font-weight:lighter">@Model.LoanRequestAmount</span></dt>
        <dt><b>Loan Request Date</b> :   <span id="requestdate" style="font-weight:lighter">@Model.LoanRequestDate</span></dt>
        <dt><b>Contact No</b> :   <span id="contactno" style="font-weight:lighter">@Model.LoanRequesteeContactNo</span></dt>
        <dt><b>Service Name</b> :   <span id="servicename" style="font-weight:lighter">@Model.LoanService.LoanServiceName</span></dt>

    </dl>

</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.LoanRequestID" />
    <input type="hidden" asp-for="@Model.FkUserId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a href="/pendingLoan?id=@Model.FkUserId">Back to List</a>
</form>