﻿@model IEnumerable<BOL.Models.LoanRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


@section scripts{
    <script type="text/javascript" src="~/js/ajaxRequests.js"></script>
    <script src="~/js/Areas.js" type="text/javascript"></script>
}


<div class="chance"></div>
<!-- end of chance -->
<section class="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 si-box-padding">
                <!-- ================================
                   breadcrumbs
                   ================================-->
                <section class="common-head-wrapper-sm clearfix">
                    <div class="wrapper-head">
                        <h4><i class="glyphicon glyphicon-user"></i><span>LOAN HISTORY LIST</span></h4>
                    </div>
                    <!-- end of wrapper-head -->
                    <div class="bread-crumbs">
                        <ul>
                            <li><a href="/Areas">Area</a></li>
                        </ul>
                    </div>
                    <!-- end of bread-crumbs -->
                </section>
                <!-- end of common-head-wrapper-sm -->
                <!-- ================================
                   merchant-table
                   ================================-->
                <section class="merchant-table">
                    <div class="border-table">
                        <div class="table-head clearfix">
                            @*<p class="pull-left">USERS List</p>*@
                            @*<a class="btn sm-custom-btn pull-right search-btn-offset"><i class="ti-search"></i></a>
                            <a asp-action="Create" class="btn sm-custom-btn pull-right">Add Loan Service</a>*@
                            @* <a asp-action="BulkAddCustomer" asp-controller="users" class="btn sm-custom-btn pull-right">Bulk Add Users</a>*@
                            @*<div class="col-md-4">
                                    <select id="ddlRoles" name="ddlRoles" asp-items="ViewBag.RoleName"
                                            style="width: 100%; height: 32px;margin-top:1%; border: 1px solid #d5d5d5; padding: 2px; font-size: 13px; border-radius: 2px;"></select>
                                </div>*@

                        </div>
                        <!-- end of table-head -->
                        <div class="table-responsive">
                            <table class="table table-hover" id="grid_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Loan Request ID</th>
                                        <th>Request Name</th>
                                        <th>Request Contact</th>
                                        <th>Date Applied</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                        <th>Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var index = 0; }
                                    @foreach (var item in Model)
                                    {
                                        var paid = item.IsPaid ? "Paid" : "UnPaid";
                                        var colorpaid = item.IsPaid ? "green" : "red";
                                        var approvedcolor = item.LoanRequestStatus == (int)DAL.Global.Constants.LoanRequestStatus.Approved ? "green" :
                                            (item.LoanRequestStatus == (int)DAL.Global.Constants.LoanRequestStatus.Pending ? "black" : "red");
                                        ++index;
                                        DAL.Global.Constants.LoanRequestStatus e = (DAL.Global.Constants.LoanRequestStatus)item.LoanRequestStatus;
                                    <tr>
                                        <td style="font-weight:bold">@index</td>
                                        <td>@item.LoanRequestID</td>
                                        <td>@item.LoanRequeteeName</td>
                                        <td>@item.LoanRequesteeContactNo</td>
                                        <td>@item.LoanRequestDate</td>
                                        <td>@item.LoanRequestAmount</td>
                                        <td style="color:@approvedcolor">@e.ToString()</td>
                                        <td>
                                            <button onclick="onPressDetails(this);"
                                                    LoanRequestId="@item.LoanRequestID" Name="@item.LoanRequeteeName"
                                                    Email="@item.LoanRequesteeEmail" LoanRequestDate="@item.LoanRequestDate"
                                                    ContactNo="@item.LoanRequesteeContactNo" LoanServiceName="@item.LoanService.LoanServiceName"
                                                    LoanTypeName="@item.LoanService.LoanType.LoanTypeName" Amount="@item.LoanRequestAmount"
                                                    type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal"
                                                    style="border-width: 1px;border-color: aqua; background: transparent;">
                                                Details
                                            </button>
                                        </td>
                                        @*<td style="width:9%" class="action-center action-td">
            <a asp-action="Details" asp-route-id="@item.LoanRequestID" class="edit"><i class="glyphicon glyphicon-edit"></i></a>
            <a asp-action="Edit" asp-route-id="@item.LoanRequestID" class="edit"><i class="glyphicon glyphicon-pencil"></i></a>
            <a asp-action="Delete" asp-route-id="@item.LoanRequestID" class="delete"><i class="glyphicon glyphicon-trash"></i></a>

        </td>*@
                                        <td style="color:@colorpaid;">
                                            @*<button onclick="onApproveClick(@item.LoanRequestID);" type="button" style="border-width: 1px;border-color: green; background: transparent;" class="btn btn-outline-success">
                                                Approve
                                            </button>
                                            |
                                            <button type="button" style="border-width: 1px;border-color: red; background: transparent;" class="btn btn-outline-danger">
                                                Reject
                                            </button>*@
                                            @paid
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- end of sm-custom-table -->
                        </div>
                        <!-- end of table-responsive -->
                    </div>
                    <!-- end of border-table -->

                    <div id="paginationDiv">
                        @Html.Raw(ViewBag.Paging)
                    </div>

                    <!-- end of pagination -->
                </section>
                <!-- end of merchant-table -->
            </div>
            <!-- end of col-md-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</section>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl>
                    <dt><b style="width:100px;">Loan ID       </b> :   <span id="loanid" style="font-weight:lighter">12</span></dt>
                    <dt><b style="width:100px;">Requestee Name</b> :   <span id="requestname" style="font-weight:lighter">12</span></dt>
                    <dt><b style="width:100px;">Email         </b> :   <span id="email" style="font-weight:lighter">12</span></dt>
                    <dt><b>Amount         </b> :   <span id="amount" style="font-weight:lighter">12</span></dt>
                    <dt><b>Loan Request Date</b> :   <span id="requestdate" style="font-weight:lighter">12</span></dt>
                    <dt><b>Contact No</b> :   <span id="contactno" style="font-weight:lighter">12</span></dt>
                    <dt><b>Service Name</b> :   <span id="servicename" style="font-weight:lighter">12</span></dt>
                    <dt><b>Loan Type Name</b> :   <span id="loantypename" style="font-weight:lighter">12</span></dt>

                </dl>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>



<script src="~/assets/js/jquery.min.js"></script>
<script>
    //function onApproveClick(requestId)
    //{
    //    if (confirm("Are you Sure You want to Approve this Loan!")) {
    //        window.location.href = "/LoanRequests/ApproveLoan/"+requestId;
    //    }
    //}

    //function onDeclineClick(requestId) {
    //    if (confirm("Are you Sure You want to Decline this Loan!")) {
    //        window.location.href = "/LoanRequests/DeclineLoan/" + requestId;
    //    }
    //}

    function onPressDetails(item) {
        var loanid = $(item).attr("LoanRequestId");
        var name = $(item).attr("Name");
        var email = $(item).attr("Email");
        var loanRequestDate = $(item).attr("LoanRequestDate");
        var contactNo = $(item).attr("ContactNo");
        var loanServiceName = $(item).attr("LoanServiceName");
        var loanTypeName = $(item).attr("LoanTypeName");
        var amount = $(item).attr("Amount");
        // debugger;
        $("#loanid").text(loanid);
        $("#requestname").text(name);
        $("#email").text(email);
        $("#amount").text(amount);
        $("#requestdate").text(loanRequestDate);
        $("#contactno").text(contactNo);
        $("#servicename").text(loanServiceName);
        $("#loantypename").text(loanTypeName);

    }
</script>
