﻿@model BOL.Models.LoanRepayment
@{
    ViewData["Title"] = "LoanRepayments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Register No</h2>
            <p>Enter Your Detail Here</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-3">



            </div>

            <div class="col-lg-6">
                <form asp-action="LoanRepayments" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row gy-4">
                        <input type="hidden" asp-for="FkLoanRequestID" />
                        <div class="col-md-12">
                            <label>Transaction Amount :</label>
                            <input asp-for="TransactionAmount" class="form-control" placeholder="Transaction Amount" required>
                            <span asp-validation-for="TransactionAmount" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label>Payment Method :</label>
                            <select asp-for="PaymentMethod" style="width: 100%; height: 40px; border: 1px solid #d5d5d5;
                            padding: 2px; font-size: 14px; border-radius: 5px;padding-left:10px;color:gray;">

                                <option value="0">Select Payment Method </option>
                                <option value="1">Credit/Debit Card </option>
                                <option value="2">PayPal </option>
                                <option value="3">Direct Cash </option>
                            </select>
                            <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label>Card Details :</label>
                            <input asp-for="CardDetails" class="form-control" placeholder="Your Card Detils" required>
                            <span asp-validation-for="CardDetails" class="text-danger"></span>
                        </div>


                        <div class="col-md-12 text-center">


                            <button class="btn btn-outline-info" type="submit">Submit</button>
                        </div>
                        <div class="col-md-12 text-center">

                            <span style="font-size:12px;color:red" class="error-message">@ViewBag.Error</span>
                            <div class="sent-message alert-success mb-3">@ViewBag.Message</div>

                        </div>
                      
                    </div>
                </form>

            </div>

            <div class="col-lg-3">



            </div>

        </div>

    </div>

</section>

