﻿@model IEnumerable<BOL.Models.LoanRequest>
@{
    ViewData["Title"] = "LoanHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Loan History</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-1">



            </div>

            <div class="col-lg-10">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Loan Request ID</th>
                            <th>Date Applied</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Details</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    @{ var index = 0; }
                    @foreach (var item in Model)
                    {
                        var paid = item.IsPaid ? "Paid" : "UnPaid";
                        var colorpaid = item.IsPaid ? "green" : "red";
                        var approvedcolor = item.LoanRequestStatus == (int)DAL.Global.Constants.LoanRequestStatus.Approved ? "green" :
                            (item.LoanRequestStatus == (int)DAL.Global.Constants.LoanRequestStatus.Pending ? "black" : "red");
                        ++index;
                        DAL.Global.Constants.LoanRequestStatus e = (DAL.Global.Constants.LoanRequestStatus)item.LoanRequestStatus;
                        <tr>
                            <td style="font-weight:bold">@index</td>
                            <td>@item.LoanRequestID</td>
                            <td>@item.LoanRequestDate</td>
                            <td>@item.LoanRequestAmount</td>
                            <td style="color:@approvedcolor">@e</td>
                            <td>
                                <button onclick="onPressDetails(this);"
                                        LoanRequestId="@item.LoanRequestID" Name="@item.LoanRequeteeName"
                                        Email="@item.LoanRequesteeEmail" LoanRequestDate="@item.LoanRequestDate"
                                        ContactNo="@item.LoanRequesteeContactNo" LoanServiceName="@item.LoanService.LoanServiceName"
                                        LoanTypeName="@item.LoanService.LoanType.LoanTypeName" Amount="@item.LoanRequestAmount"
                                        type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
                                    Details
                                </button>
                            </td>
                            <td style="color:@colorpaid;">@paid </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="col-lg-1">



            </div>

        </div>

    </div>

</section>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl>
                    <dt><b style="width:100px;">Loan ID       </b> :   <span id="loanid" style="font-weight:lighter">12</span></dt>
                    <dt><b style="width:100px;">Requestee Name</b> :   <span id="requestname" style="font-weight:lighter">12</span></dt>
                    <dt><b style="width:100px;">Email         </b> :   <span id="email" style="font-weight:lighter">12</span></dt>
                    <dt><b>Amount         </b> :   <span id="amount" style="font-weight:lighter">12</span></dt>
                    <dt><b>Loan Request Date</b> :   <span id="requestdate" style="font-weight:lighter">12</span></dt>
                    <dt><b>Contact No</b> :   <span id="contactno" style="font-weight:lighter">12</span></dt>
                    <dt><b>Service Name</b> :   <span id="servicename" style="font-weight:lighter">12</span></dt>
                    <dt><b>Loan Type Name</b> :   <span id="loantypename" style="font-weight:lighter">12</span></dt>

                </dl>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<script>
    function onPressDetails(item) {
        var loanid = $(item).attr("LoanRequestId");
        var name = $(item).attr("Name");
        var email = $(item).attr("Email");
        var loanRequestDate = $(item).attr("LoanRequestDate");
        var contactNo = $(item).attr("ContactNo");
        var loanServiceName = $(item).attr("LoanServiceName");
        var loanTypeName = $(item).attr("LoanTypeName");
        var amount = $(item).attr("Amount");
        // debugger;
        $("#loanid").text(loanid);
        $("#requestname").text(name);
        $("#email").text(email);
        $("#amount").text(amount);
        $("#requestdate").text(loanRequestDate);
        $("#contactno").text(contactNo);
        $("#servicename").text(loanServiceName);
        $("#loantypename").text(loanTypeName);

    }
</script>